* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    font: 14px 'Open Sans', sans-serif;
    min-height: 100%;
    position: relative;
}
h1 {
    font-size: 5em;
    letter-spacing: -.03em;
}
/* ==========================================================================
   Header
   ========================================================================== */
.clear {
    clear: both;
}



/* ==========================================================================
   Content
   ========================================================================== */

.content {

}

.content h1 {
    font-family: "Libre Baskerville", Georgia, "Times New Roman", serif;
}

.content p { margin: 1em 0; }

.content a {
    text-decoration: none;
}


.content a:hover { text-decoration: underline; }

.outer-item{
    background-color: #f1eded;
    border: 3px solid  #f1eded;
    margin: 0 0 20px 0;
    position: relative;
    overflow: hidden;
    padding: 0 0 20px;
    height: 328px;
    color: #1f2634;
}

.outer-item:hover {
    background-color: #E02635;
    border: 3px solid  #E02635;
    color: #fff;
}
.content .field-content {
    margin: 0 auto;
    text-align: center;
}
.content .field-content a{
    color: #1f2634;
    text-align: center;
}

.outer-item a:hover .field-contentfield-content a{

}

.shortDetails {
    background: rgba(31,38,52,.9);
    padding: 3px 6px;
    position: absolute;
    bottom: 20px;
    color: #fff;
    width: 100%;

}
.shortDetails h3{
    font-size: 1.8em;
    line-height: 140%;
    color: #fff;
    margin: 0 0 3px;
}
.outer-item a.listing {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    border: 0;
    overflow: hidden;
}
.outer-item a img{
    width: 100%;

}

.readmore::after {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid #f1eded;
    border-bottom: 20px solid #f1eded;
}

.readmore {
    position: absolute;
    bottom: -28px;
    right: 0;
    margin: 0;
    padding: 14px 4px 0 0;
    line-height: 120%;
    color: #1f2634;
    font-size: 2em;
    z-index: 1;
}

.viewreadmore{

    visibility: hidden;
    background-color: #E02635;
    color: #fff;
    margin-right: -20px;
    position: absolute;
    bottom: 0;
    right: 20px;
    z-index: 100;
    padding: 8px 5px 8px 5px;
    line-height: 120%;
    border-top-left-radius: 5px;
    font-size: 20px;
}

.shortDetails a{
    color: #fff;
}

.content .shortDetails a span.short-desc {
    color: #fff;
    display: block;
    float: left;
    font-size: 22px;
}
.content .shortDetails a span.price-mileage   {
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;

}

.content .mileage {
    padding-left: 10px;
    color: #fff;
}


.midcontent {
    margin-bottom: 25px;
}
.midcontent iframe {
     height: 250px !important;
 }
.midcontent img {
    max-height: 250px !important;
    max-width: 100%;
}
.midcontent {
    width: 100%;
    text-align: center;
}

h1.page-title {
    padding: 5px 5px;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
    background: #1F2634;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 55px;
    letter-spacing: -.03em;
}

.submit{
    padding: 6px 16px;
    line-height: 120%;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    -moz-appearance: none;
    outline: 0;
    border: 0;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: all .15s ease;
    border-radius: 5px;
    background: #3c455d;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 3px 0 #000;
    margin-top: 25px;
}
.searchsidebar {
    padding: 8px 12px;
    overflow: hidden;
    background-color: #f1eded;
    border: 1px solid #c3c8d1;
    margin: 0 30px 15px 30px;
}
.pricePa::after{
    content: "";
    height: 28px;
    width: 15px;
    display: block;
    position: absolute;
    top: 0;
    left: -15px;
    background-position: 0 -28px;
    background-repeat: no-repeat;
}
.pricePa{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #e02635;
    text-decoration: none;
    height: 28px;
    text-align: center;
    padding: 0px 10px 5px 5px;
    margin: -4px 0 0 15px;
    font-weight: 600;
    font-size: 1.4em;
    position: relative;
    -webkit-border-top-right-radius: 3px;
    -ms-border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -ms-border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
}
.year{
    font-size: 1.8rem;
    display: inline-block;
    padding: 4px 0 0 15px;
}


.button {
    text-align: center;
    margin-bottom: 20px;
}
.glyphicon {
    margin: 5px;
}
.shared>div {
    text-align: center;
}
.shared {
    text-align: center;
}
.dealer-info {
    background-color: #F1EDED;
    border: 1px solid #c3c8d1;
}
@media only screen
and (max-width : 1023px) {



}

@media only screen
and (max-width : 767px) {



}


