<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div class="box box-danger collapsed-box" id="gaStats">
    <div class="box-header with-border">
        <h3 class="box-title">Site Analytics</h3>
        <div class="box-tools pull-right">
            <span class="label label-warning" id="msg">Loading...</span>
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                <i class="fa fa-plus" id="minus"></i>
            </button>
            <button class="btn btn-box-tool" type="button" data-widget="remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding">
        <div class="col-md-6">
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col-md-6">
            <div id="container1" style="min-width: 310px; height: 400px; margin: 0px auto"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var options = {
            chart: {
                renderTo: 'container',
                type: 'spline'
            },
            series: [{}],
            title: {
                text: 'Visitors On Site This Year',
                x: -20 //center
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Visitors'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },

        };

        var jqxhr = $.getJSON('{{ path("ga_stats_api_month") }}', function (data) {
            var d = new Date();
            var n = d.getFullYear();
            options.series[0].name = n;
            options.series[0].data = data;
            var chart = new Highcharts.Chart(options);
        });
        jqxhr.success(function() {
            document.getElementById("msg").innerHTML = "";
            document.getElementById("gaStats").className = "box box-danger";
            document.getElementById("minus").className = "fa fa-minus";
        });
        jqxhr.fail(function() {
            document.getElementById("msg").innerHTML = "Analytics EMPTY!";
            document.getElementById("msg").className = "label label-danger";
        });

    });

    $(document).ready(function () {

        var options = {
            chart: {
                renderTo: 'container1',
                type: 'column'
            },
            series: [{}],
            title: {
                text: 'Visitors On Site This Month',
                x: -20 //center
            },
            yAxis: {
                title: {
                    text: 'Visitors'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },

        };

        var jqxhr = $.getJSON('{{ path("ga_stats_api_day") }}', function (data) {
            var d = new Date();
            var month = new Array();
            month[0] = "Jan";
            month[1] = "Feb";
            month[2] = "Mar";
            month[3] = "Apr";
            month[4] = "May";
            month[5] = "Jun";
            month[6] = "Jul";
            month[7] = "Aug";
            month[8] = "Sep";
            month[9] = "Oct";
            month[10] = "Nov";
            month[11] = "Dec";
            var n = month[d.getMonth()];
            options.series[0].name = n;
            options.series[0].data = data;
            var chart = new Highcharts.Chart(options);

        });
        jqxhr.success(function() {
            document.getElementById("msg").innerHTML = "";
            document.getElementById("gaStats").className = "box box-danger";
            document.getElementById("minus").className = "fa fa-minus";
        });
        jqxhr.fail(function() {
            document.getElementById("msg").innerHTML = "Analytics EMPTY!";
            document.getElementById("msg").className = "label label-danger";
        });

    });

</script>