<div class="box box-warning{% if incomingReminders is empty and passedReminders is empty %} collapsed-box {% endif %}">
    <div class="box-header with-border">
        <h3 class="box-title">Reminders</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse" type="button">
                <i class="fa fa-{% if incomingReminders is empty and passedReminders is empty %}plus{% else %}minus{% endif %}"></i>
            </button>
            <button class="btn btn-box-tool" data-widget="remove" type="button">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body"
         style="display: {% if incomingReminders is empty and passedReminders is empty %}none{% else %}block{% endif %};">
        <div class="col-md-6">
            {% include 'NumaDOADMSBundle:Default:reminder.html.twig' with {'title': 'Incoming reminders (next 30 days)', 'reminders': incomingReminders} %}
        </div>
        <div class="col-md-6">
            {% include 'NumaDOADMSBundle:Default:reminder.html.twig' with {'title': 'Passed Remainders (previous 30 days)', 'reminders': passedReminders} %}
        </div>
        <div class="box-footer clearfix"
             style="display: {% if incomingReminders is empty and passedReminders is empty %}none{% else %}block{% endif %};">
            {#<a class="btn btn-sm btn-info btn-flat pull-left" href="javascript:void(0)">Place New Order</a>#}
            {#<a class="btn btn-sm btn-default btn-flat pull-right" href="javascript:void(0)">View All Orders</a>#}
        </div>
    </div>
</div>
