{% extends 'NumaDOAAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="box box-default">

        <p><a href="{{ path('feed_api_all_dealers') }}">List all Dealers</a></p>
    </div>
{% endblock %}