{% extends 'NumaDOAAdminBundle::layout.html.twig' %}

{% block content %}
    <div>
        <p>{{form(dealerForm)}}</p>
        <p><a href="{{path('feed_api_all_dealers')}}">List all Dealers</a></p>
    </div>
 {% endblock %}