{% extends 'NumaDOADMSBundle::layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}

    {% include 'NumaDOAAdminBundle::flashmsg.html.twig' %}
    <h1>DMSUser edit</h1>
    <div class="nav-tabs-custom">
        <div class="tab-content">
            <div id="details" class="tab-pane active">
                {{ form(edit_form) }}

                {% if is_granted('ROLE_BUSINES') or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('dmsuser') }}" class="btn btn-primary">
                        Back to the list
                    </a>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
