* {
	margin: 0;
	padding: 0;
}

html, body { height: 100%; }

body {
	background: #111 url("../images/bg.jpg") center top no-repeat;
	font: 14px 'Raleway', sans-serif;
}

#wrapper {
	margin: 0 auto;
	max-width: 1020px;
	min-height: 100%;
	padding: 0 20px;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header { overflow: hidden; }

.header .logo {
	display: block;
	float: left;
	margin: 51px 0;
}

.social-media {
	float: right;
	margin: 47px 0 11px 0;
}

.social-media > * {
	display: inline-block;
	vertical-align: middle;
}

.connect-with-us {
	color: #fff;
	font: 16px 'Kaushan Script', cursive;
	margin-right: 5px;
}

.map {
	background-color: #007cb3;
	border: 3px solid #48a7e1;
	-webkit-box-shadow: 3px 3px 0 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 0 0 rgba(0,0,0,0.75);
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.75);
	border-radius: 10px;
	clear: right;
	color: #fff;
	display: block;
	float: right;
	font-size: 22px;
	font-weight: 300;
	line-height: 26px;
	margin: 0 3px 0 10px;
	padding: 1px 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.address {
	color: #fff;
	float: right;
	font-size: 17px;
	font-weight: 700;
	line-height: 17px;
	text-align: right;
	text-transform: uppercase;
}

.phone {
	clear: right;
	color: #fff;
	float: right;
	font-size: 41px;
	font-weight: 700;
	line-height: 33px;
	margin-top: 5px;
}

/* ==========================================================================
   Main Menu
   ========================================================================== */

.main-menu {
	background-color: #000;
	background: -webkit-linear-gradient(#252525 50%, #000 50%);
  background: -o-linear-gradient(#252525 50%, #000 50%);
  background: -moz-linear-gradient(#252525 50%, #000 50%);
  background: linear-gradient(#252525 50%, #000 50%);
	margin: 0 20px;
	padding: 14px;
	position: relative;
	z-index: 1;
}

.main-menu a {
	color: #fff;
	display: block;
	text-decoration: none;
}

.main-menu > ul {
	display: table;
	margin: 0 auto;
}

.main-menu > ul > li {
	border-left: 1px dotted #fff;
	display: table-cell;
}

.main-menu > ul > li.parent > a {
	background: url("../images/small-arrow.png") right 15px center no-repeat;
	padding-right: 29px;
}

.main-menu > ul > li:first-child { border-left: none; }

.main-menu > ul > li:hover > ul { display: block; }

.main-menu > ul > li > a {
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	padding: 7.5px 15px;
	text-transform: uppercase;
}

.main-menu > ul > li:hover > a {
	background-color: #252525;
	color: #007cb3;
}

.main-menu ul ul {
	background-color: #252525;
	display: none;
	list-style: none;
	position: absolute;
}

.main-menu ul ul li { border-top: 1px solid #000; }

.main-menu ul ul li:first-child { border-top: none; }

.main-menu ul ul a { padding: 8px 15px; }

.main-menu ul ul a:hover {
	background-color: #000;
	color: #007cb3;
}

/* ==========================================================================
   Mobile Menu
   ========================================================================== */

.mobile-menu {
	background-color: #000;
	display: none;
	margin: 0 20px;
	position: relative;
	z-index: 1;
}

.mobile-menu ul {
	font-size: 16px;
	line-height: 22px;
	list-style: none;
}

.mobile-menu .menu a,
.mobile-menu .menu .separator {
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 19px 20px;
}

.mobile-menu .menu li { border-top: 1px solid #111; }

.mobile-menu .menu > li:first-child { border-top: none; }

.mobile-menu .menu > li > .separator {
	background: #000 url("../images/mobile-menu-icon.png") 20px center no-repeat;
	padding-left: 70px;
}

.mobile-menu .menu ul ul { background-color: #111; }

.mobile-menu .menu ul ul li { border-top: 1px solid #222; }

.mobile-menu .menu ul ul li:first-child { border-top: none; }

/* ==========================================================================
   Buttons
   ========================================================================== */

.button-wrapper {
	border-spacing: 20px;
	display: table;
	margin: -20px;
	table-layout: fixed;
	width: calc(100% + 40px);
}

.b1 { background: url("../images/button1.jpg") center center no-repeat; }

.b2 { background: url("../images/button2.jpg") center center no-repeat; }

.b3 { background: url("../images/button3.jpg") center center no-repeat; }

.b4 {
	background: url("../images/button4.jpg") center center no-repeat;
	margin-bottom: 20px;
}

.b5 {	background: url("../images/button5.jpg") center center no-repeat; }

.b4,
.b5 {
	background-size: cover;
	height: calc(50% - 10px);
	position: relative;
}

.button {
	background-size: cover;
	display: table-cell;
	height: 302px;
	position: relative;
	text-align: center;
}

.button a {
	border-bottom: 6px solid #007cb3;
	color: #fff;
	display: block;
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	text-decoration: none;
}

.button a:hover {
	background-color: rgba(0,124,179,.5);
	border-bottom-color: #48a7e1;
}

.button a:hover .click-here {
	background-color: #007cb3;
	color: #fff;
}

.button a:hover h2 {
	color: #007cb3;
	-webkit-text-fill-color: #007cb3;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #47a7e1;
}

.button h2 {
	font-size: 32px;
	font-weight: 800;
	line-height: 32px;
	margin-top: 200px;
	position: relative;
	text-transform: uppercase;
}

.button h2 span {
	font-size: 23px;
	font-weight: 600;
	display: block;
	line-height: 23px;
}

.button h2:after {
	border-bottom: 1px dotted #fff;
	content: "";
	height: 1px;
	position: absolute;
		bottom: 0;
		left: 12.5%;
	width: 75%;
}

.b4 h2,
.b5 h2 { margin-top: 38px; }

.click-here {
	background-color: #47a7e1;
	border-radius: 3px;
	color: #000;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: 13px;
	margin: 7px 0 17px 0;
	padding: 5px 19px;
	text-transform: uppercase;
}

/* ==========================================================================
   Browse
   ========================================================================== */

.browse {
	margin: 22px 0 26px 0;
	text-transform: uppercase;
}

.browse ul {
	display: table;
	width: 100%;
}

.browse li {
	border-left: 2px dotted #c3c3c3;
	display: table-cell;
	vertical-align: middle;
}

.browse li:nth-child(-n+2) { border-left: none; }

.browse h2 {
	font-size: 32px;
	font-weight: 800;
	line-height: 32px;
	text-align: right;
}

.browse h2 span {
	color: #007cb3;
	display: block;
	font-size: 22px;
	font-weight: 600;
	line-height: 22px;
}

.browse a {
	background: url("../images/motorhome.png") center top no-repeat;
	color: #000;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	margin: 0 40px;
	padding-top: 53px;
	text-align: center;
	text-decoration: none;
}

.browse li:last-child a { margin-right: 0; }

.browse a:hover {
	background-image: url("../images/motorhome-over.png");
	color: #007cb3;
}

.browse .travel-trailer { background-image: url("../images/travel-trailer.png"); }
.browse .travel-trailer:hover { background-image: url("../images/travel-trailer-over.png"); }

.browse .fifth-wheel { background-image: url("../images/fifth-wheel.png"); }
.browse .fifth-wheel:hover { background-image: url("../images/fifth-wheel-over.png"); }

.browse .toy-hauler { background-image: url("../images/toy-hauler.png"); }
.browse .toy-hauler:hover { background-image: url("../images/toy-hauler-over.png"); }

.browse .park-models { background-image: url("../images/park-models.png"); }
.browse .park-models:hover { background-image: url("../images/park-models-over.png"); }

/* ==========================================================================
   Banner
   ========================================================================== */

.banner img { max-width: 100%; }

/* ==========================================================================
   Content
   ========================================================================== */

.container {
	background-color: #fff;
	margin-top: -31px;
	padding: 51px 20px 20px 20px;
	position: relative;
	z-index: 0;
}

.content { margin-top: 25px; }

.content h1 {
	font-size: 28px;
	font-weight: 800;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.content h3 {
	color: #007cb3;
	font-size: 19px;
	font-weight: 600;
	margin: 1em 0 0.74em 0;
	text-transform: uppercase;
}

.content p {
	line-height: 1.3em;
	margin: 1em 0;
}

.container:after {
	border-bottom: 11px solid #007cb3;
	content: "";
	height: 1px;
	position: absolute;
		bottom: -11px;
		left: 20px;
	width: calc(100% - 40px);
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
	color: #fff;
	display: table;
	font-size: 11px;
	margin-top: 41px;
	padding-bottom: 30px;
	table-layout: fixed;
	width: 100%;
}

.footer > div {
	border-left: 2px dotted #8a8a8a;
	display: table-cell;
	padding: 0 14px;
	vertical-align: top;
}

.footer > div:first-child { border-left: none; }

.footer .logo {
	display: block;
	margin-bottom: 10px;

}

.footer h3 {
	color: #007cb3;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.footer p {
	line-height: 1.5em;
	margin: 7px 0;
}

.hours p { text-transform: uppercase; }

.hours span { color: #a6a6a6; }

.quick-links ul { list-style: none; }

.quick-links li { margin: 7px 0; }

.footer a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.footer a:hover { color: #007cb3; }

.other-info ul {
	display: table;
	margin: 10px 0;
}

.other-info li {
	border-left: 1px solid #fff;
	display: table-cell;
	line-height: 11px;
	padding: 0 5px;
}

.other-info li:first-child {
	border-left: none;
	padding-left: 0;
}

.newsletter {
	background: url("../images/mail.png") left center no-repeat;
	display: inline-block;
	line-height: 13px;
	margin-left: 5px;
	padding-left: 37px;
}

.footer .newsletter:hover { color: #b7b7b7; }

.newsletter span {
	display: block;
	font-weight: 800;
}

.copyright { text-transform: uppercase; }

@media only screen  
and (max-width : 1023px) {

.main-menu { padding: 14px 0; }

.main-menu > ul > li > a {
	font-size: 14px;
	line-height: 16px;
	padding: 7.5px 8px;
}

.main-menu > ul > li.parent > a {
	background: none;
	padding-right: 8px;
}

.button h2 {
	font-size: 24px;
	line-height: 24px;
}

.button h2 span {
	font-size: 18px;
	line-height: 18px;
}

.browse h2 {
	font-size: 24px;
	line-height: 24px;
}

.browse h2 span {
	font-size: 18px;
	line-height: 18px;
}

.browse a { margin: 9px; }

.other-info ul { display: block; }

.other-info li {
	border-left: none;
	display: block;
	line-height: 13px;
	padding: 0;
}

.newsletter { margin: 10px 0 0 0; }

}

@media only screen  
and (max-width : 767px) {

.main-menu { display: none; }

.mobile-menu { display: block; }

.header { text-align: center; }

.header .logo {
	float: none;
	margin: 30px 0;
}

.header .logo img { max-width: 100%; }

.social-media {
	float: none;
	margin: 10px 0;
}

.map {
	display: inline-block;
	float: none;
	margin: 0;
}

.address {
	float: none;
	margin: 15px 0;
	text-align: center;
}

.phone {
	float: none;
	margin: 0 0 30px 0;
}

.button-wrapper {
	display: block;
	margin: 0;
	width: 100%;
}

.button {
	display: block;
	margin-bottom: 20px;
}

.browse ul { display: block; }

.browse li {
	border-top: 2px dotted #c3c3c3;
	border-left: none;
	display: block;
}

.browse li:nth-child(-n+2) { border-top: none; }

.browse h2 { text-align: center; }

.footer {
	display: block;
	text-align: center;
}

.footer > div {
	border-top: 2px dotted #8a8a8a;
	border-left: none;
	display: block;
	padding: 10px 0;
}

.footer > div:first-child { border-top: none; }

.other-info ul {
	display: table;
	margin: 10px auto;
}

.other-info li {
	border-left: 1px solid #fff;
	display: table-cell;
	line-height: 11px;
	padding: 0 5px;
}

.other-info li:first-child {
	border-left: none;
	padding-left: 0;
}

}

