{% import "NumaDOASiteBundle::components.html.twig" as component %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include 'NumaDOASiteBundle::favicons.html.twig' %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0"/>
    <title>Dealers on Air</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:300,400,500,700" rel="stylesheet">
        {% stylesheets '@bootstrap' '@colorbox_css' 'bundles/numadoasite/Garden/css/garden.css' 'bundles/numadoasite/Garden/css/pgwslideshow.css'  filter='cssrewrite' output='css/*.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    {% endblock %}
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        {% javascripts '@bootstrapx_js' '@colorbox_js' 'js/jssor/jssor.slider.js' 'bundles/numadoasite/Garden/js/pgwslideshow.js' "bundles/numadoasite/Garden/js/mobilemenu.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>

<body>
<div class="wrapper">

    {% block mainmenu %}
        {% include 'NumaDOASiteBundle::mainmenu.html.twig' %}
    {% endblock %}

    {% block mobilemenu %}
        {% include 'NumaDOASiteBundle::mobilemenu.html.twig' %}
    {% endblock %}


    {% block header %}
        {% include 'NumaDOASiteBundle::headline.html.twig' %}
    {% endblock %}
    <div class="container">
        <div class="alertz dontshow alert"></div>
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>
    {% block footer %}
        {% include 'NumaDOASiteBundle::footer.html.twig' %}
    {% endblock %}

</div>

</body>

</html>