<h1 class="page__title title" id="page-title">Automall</h1>
<div class="row">
    <div class="col-md-12" style="padding: 8px 12px;
overflow: hidden;
background-color: #f1eded;
border: 1px solid #c3c8d1;
margin-bottom: 2em;">
        {% include 'NumaDOASiteBundle:Search:searchSidebar.html.twig' %}
    </div>

    <div class="searchResults col-md-12">
        {% if pagerfanta is not empty %}

            {% for item in pagerfanta %}
                {% set item = item.getData() %}
                {% if queryUrl is defined %}
                    {{ include("NumaDOASiteBundle:Search:searchResultItem.html.twig",{'item':item,'searchQ':queryUrl}) }}
                {% else %}
                    {{ include("NumaDOASiteBundle:Search:searchResultItem.html.twig",{'item':item}) }}
                {% endif %}

            {% endfor %}


        {% else %}
            No Result...
        {% endif %}
    </div>
    {#<div class="page_ads">#}
    {#{% include 'NumaDOASiteBundle:Ads:themes-right-sidebar.html.twig' %}#}
    {#</div>#}
    <div class="col-md-12">
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}
    </div>
</div>
