<h1 class="page-title title" id="page-title">AUTOMALL</h1>
{#<h3 class="page-title title" id="page-title">POWERED BY</h3>#}
<div class="row">
    <div class="col-md-12" style="padding: 8px 12px;
overflow: hidden;
background-color: #f1eded;
border: 1px solid #c3c8d1;
margin-bottom: 2em;">
        {% include 'NumaDOASiteBundle:Search:searchSidebar.html.twig' %}
    </div>
    <div class='midcontent'>

        <!-- SPLASH Billboard [async] -->

        <script type="text/javascript">if (!window.AdButler){(function(){var s = document.createElement("script"); s.async = true; s.type = "text/javascript";s.src = 'https://servedbyadbutler.com/app.js';var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(s, n);}());}</script>

        <script type="text/javascript">

            var AdButler = AdButler || {}; AdButler.ads = AdButler.ads || [];

            var abkw = window.abkw || '';

            var plc214320 = window.plc214320 || 0;

            document.write('<'+'div id="placement_214320_'+plc214320+'"></'+'div>');

            AdButler.ads.push({handler: function(opt){ AdButler.register(168605, 214320, [300,250], 'placement_214320_'+opt.place, opt); }, opt: { place: plc214320++, keywords: abkw, domain: 'servedbyadbutler.com', click:'CLICK_MACRO_PLACEHOLDER' }});

        </script>

    </div>
    <div class="searchResults col-md-12">
        {% if pagerfanta is not empty %}

            {% for item in pagerfanta %}
                {% set item = item.getData() %}
                {% if queryUrl is defined %}
                    {{ include("NumaDOASiteBundle:Search:searchResultItem.html.twig",{'item':item,'searchQ':queryUrl}) }}
                {% else %}
                    {{ include("NumaDOASiteBundle:Search:searchResultItem.html.twig",{'item':item}) }}
                {% endif %}

            {% endfor %}


        {% else %}
            No Result...
        {% endif %}
    </div>
    {#<div class="page_ads">#}
    {#{% include 'NumaDOASiteBundle:Ads:themes-right-sidebar.html.twig' %}#}
    {#</div>#}
    <div class="col-md-12">
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}
    </div>
</div>
