{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block content %}

    <div class="page">
        
            <tr>
                <td colspan="12" align="center" height="10px" valign="bottom">
                    <br>
                    <h3>We Thank You For Your Business</h3>
                </td>
            </tr>
        </table>
    </div>
    <div class="last-page">

        {% if dealer.termsText is defined %}
            {{ dealer.termsText()|raw }}
        {% endif %}
    </div>
{% endblock %}