{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block content %}
    <style type="text/css">
        /* BILLINGS */

        td.opeq input {
            width: 100%;
        }

        table {
            font-size: 8pt;
        }

        table td{
            font-size: 8pt;
            height: 20px;
        }
        .alignright {
            text-align: right;
        }

        .border {
            border: 1px solid #000;
            padding: 0px;
        }
        .heading {
            background-color: #E7E6E6;
            text-align: left;
            font-weight: bold;
        }
        .grey {
            background-color: #E7E6E6;
        }

        .lightgrey {
            background-color: #F2F2F2;
        }

        .darkgrey {
            background-color: #AFABAB;
        }


        .yellowcenter {
            background-color: #FFF2CC;
            text-align: center;
        }

        .blue {
            background-color: #DEEBF7;
        }

        .dealerdata td {
            text-align: left;
            width: 50%;
            border-bottom: 1px solid #000;
            padding: 2px;
        }

        .dealerinfo td {
            border-bottom: 1px solid #000;
            text-align: center;
            background-color: #E2F0D9;
            height: 30px;
        }

        .dealerinfo td.dealername {
            background-color: #FFF;
            height: 80px;
        }

        .dealerinfo tr:last-child td {
            border-bottom: none;
        }

        table.bottomborder tr td{
            border-bottom: 1px solid #000;
        }

        table.bottomborder tr:last-child td {
            border-bottom: none;
        }


        .purchaserInfo td, .rightborder td {
            border-right: 1px solid #000;
        }

        .purchaserInfo td:last-child, .rightborder td:last-child {
            border-right: none;
        }

        .data {
            background-color: #FFF2CC;
            text-align: center;
        }

        .center {
            text-align: center;
        }
        .alignright {
            text-align: right;
        }
        .yellow {
            background-color: #FFF2CC;
        }
        div.page {
            page-break-after: always;
            page-break-inside: avoid;
        }

        div.last-page {
            page-break-after: avoid;
            page-break-inside: avoid;
        }
        .page table td.opeq {
            font-size: 80%;
        }

        div.terms p{
            font-size: 80%;
        }
    </style>
    <div class="page">
        <table width="100%"  autosize="1" style="overflow: hidden" border="0" cellspacing="0">
            <tr>
                <td  valign="top" width="25%">
                    {% include "NumaDOADMSBundle:Billing/BlockPrint:dealerInfo.html.twig" %}
                </td>
                <td  valign="top" width="50%">
                    {% include "NumaDOADMSBundle:Billing/BlockPrint:dealerLogo.html.twig" %}
                </td>
                <td valign="top" width="25%">
                    {% include "NumaDOADMSBundle:Billing/BlockPrint:dealerData.html.twig" %}
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
                   {% include "NumaDOADMSBundle:Billing/BlockPrint:purchaserInfo.html.twig" %}

        <table width="100%" autosize="1" style="overflow: hidden" cellspacing="0">
            <tr>
                <td width="25%" valign="top">
                    {% include "NumaDOADMSBundle:Billing/BlockPrint:optEquipment.html.twig" %}
                </td>
                <td width="70%" valign="top" >
                    <table autosize="1" style="overflow: hidden" width="100%" cellspacing="0">
                        <tr>
                            <td colspan="2">{% include "NumaDOADMSBundle:Billing/BlockPrint:vehicle.html.twig" %}</td>
                        </tr>
                        <tr>
                            <td width="50%"  valign="top">{% include "NumaDOADMSBundle:Billing/BlockPrint:tradeIn.html.twig" %}</td>
                            <td width="50%"   valign="top">{% include "NumaDOADMSBundle:Billing/BlockPrint:TOS.html.twig" %}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table width="100%"  autosize="1" style="overflow: hidden" border="0" cellspacing="2" style="margin-top: -20px">
            <tr>
                <td class="darkgrey heading">ACKNOWLEDGMENT OF CONDITIONS</td>
                <td >&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">THE PURCHASER ACKNOWLEDGES HAVING REVIEWED THE ABOVE TERMS AND CONDITIONS AND
                    IS IN FULL AGREEMENT BY AFFIXING HIS OR HER SIGNATURE
                </td>
            </tr>
            <tr>
                <td class="heading">PURCHASE SIGNATURE X</td>
                <td width="50%" style="border-bottom: 1px dashed #000"></td>
            </tr>
            <tr>
                <td class="heading">CO-PURCHASE SIGNATURE X</td>
                <td width="50%" style="border-bottom: 1px dashed #000"></td>
            </tr>
            <tr>
                <td class="center" colspan="2"><b>We Thank You For You Business</b></td>
            </tr>
        </table>
    </div>

    <div class="last-page terms">

        {% if dealer.termsText is defined %}
            {{ dealer.termsText()|raw }}
        {% endif %}
    </div>
{% endblock %}