{% extends app.request.get('_dashboard')=='DMS'
? 'NumaDOADMSBundle::layout.html.twig'
: 'NumaDOAAdminBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    <div class="box box-default">
        <h1>Importfeed creation</h1>
        {{ form(form) }}
        {% if(app.request.get('_dashboard')=='DMS') %}
            <a href="{{ path('dms_importfeed') }}" class="btn btn-default">
                Back to the list
            </a>
        {% else %}
            <a href="{{ path('importfeed') }}" class="btn btn-default">
                Back to the list
            </a>
        {% endif %}
    </div>
{% endblock %}
