{% extends is_granted('ROLE_BUSINES')
    ? 'NumaDOASiteBundle::home-layout.html.twig' 
    : 'NumaDOAAdminBundle::layout.html.twig' %}
 {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    <h1>Edit Dealer</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('catalogs') }}" class="btn">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
