{% extends 'NumaDOADMSBundle::layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}

    <h1>{{ entity.name }}</h1>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a data-toggle="tab" href="#details">Profile Details</a></li>
        <li role="presentation"><a data-toggle="tab" href="#billings">Billings</a></li>
        <li role="presentation"><a data-toggle="tab" href="#notes">Notes</a></li>
    </ul>

    <div class="tab-content">
        <div id="details" class="tab-pane active">
            <div class="box">
                {{ form(edit_form) }}
            </div>
        </div>
        <div id="notes" class="tab-pane">
            {% include 'NumaDOADMSBundle:Note:index.html.twig' with {'entities': entity.note,'customer_id':entity.id} %}
        </div>
        <div id="billings" class="tab-pane">
            {% include 'NumaDOADMSBundle:Billing:index.html.twig' with {'entities': entity.billing,'customer_id':entity.id} %}
        </div>
    </div>
    <a href="{{ path('customer') }}" class="btn btn-primary">
        Back to the list
    </a>

{% endblock %}