{% extends 'NumaDOADMSBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" type="text/css"
          rel="stylesheet"/>
    <style>
        .grid {
            height: 65vh;
        }

        .ui-grid-viewport {
            overflow-anchor: none;
        }
    </style>
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}

   {% javascripts

    'js/angular/angular143.min.js'
    'js/angular/angular-touch143.min.js'
    'js/angular/angular-animate143.min.js'

    'js/angular/ui-grid.js'
    'js/angular/angular-confirm.min.js'
    'js/angular/ui-bootstrap-tpls-1.2.2.min.js'
    'js/loading-bar.min.js' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        {% include 'NumaDOADMSBundle:User:user.js.twig' %}
    </script>


    <style>
        .grid {
            height: 65vh;
        }

        .ui-grid-viewport {
            overflow-anchor: none;
        }
    </style>

{% endblock javascripts %}
{% block content %}
    {% include 'NumaDOAAdminBundle::flashmsg.html.twig' %}
    <div ng-app="app" ng-controller="MainCtrl">
    <div class="box">
    <div class="box-header">
        <h3 class="box-title">User list ffff</h3>

            <div class="box-tools">
                <a ng-click="setDelete()" class="btn btn-danger"> Delete Selected User</a>
                <a href="{{ path('dms_customer_new') }}" class="btn btn-primary">
                    Create new User
                </a>
            </div>
        </div>

        <div class="box-body table-responsive no-padding row-fluid">
            <div >
                {% include 'NumaDOADMSBundle::angularDeleteConfirm.html.twig' %}
                <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-expandable ui-grid-pinning
                     class="grid"></div>
            </div>
        </div>
    </div>


{% endblock %}