<div class="row">
    <div class="col-md-2"></div>
    {{ render_esi(controller('NumaDOASiteBundle:Default:searchForm',{'inputClass': 'col-md-6 the-input', 'buttonClass': 'col-md-4', 'button': 'btn btn-bridge-red search'})) }}
</div>