# Bootstrap
app/bootstrap*
.htaccess
.idea/*
.idea/doa.iml

# Symfony directories
vendor/*
vendor*/*
*/logs/*
*/cache/*
*.sql
*.sh
web/uploads/*
web/bundles/*
web/assetic/*
web/media/*
bin/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
/nbproject/private/
upload/

