# Bootstrap
app/bootstrap*
.idea/*
.idea/doa.iml

# Symfony directories
vendor/*
vendor*/*
*/logs/*
*/cache/*
*.sql
*.sh
web/uploads/*
web/upload/*
web/bundles/*
web/assetic/*
web/media/*
web/tinymce/*
bin/*
.idea/workspace.xml

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
/nbproject/private/
upload/


*.pdf
*.txt
*.sql
