{% extends 'NumaDOAAdminBundle::layout.html.twig' %}
 {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    <h1>Add new image to carousel</h1>

    {{ form(form) }}

        <ul class="list-inline">
    <li>
        <a class="btn btn-primary" href="{{ path('imagecarousel') }}">
            Back to the carousel
        </a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ path('imagecarousel') }}">
            Save and add another
        </a>
    </li>
</ul>
{% endblock %}
