<!-- Modal -->
<div class="modal fade" id="loancalc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Loan Calculator</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Term of Loan</label>

                    <div class="form-group">

                        <select class="form-control" id="loanTerms">
                            {#<option value="3">3 month</option>#}
                            {#<option value="6">6 month</option>#}
                            {#<option value="9">9 month</option>#}
                            <option value="60">60 months (5 year)</option>
                            <option value="72">72 months (6 year)</option>
                            <option value="96">96 months (8 year)</option>
                            <option value="120">120 month (10 year)</option>
                            <option value="180">180 month (15 year)</option>
                            <option value="240">240 month (20 year)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="interestrate">Interest rate ( % )</label>
                    <input type="text" class="form-control" id="interestrate" placeholder="" onfocusout="calculateLoan()">
                </div>
                <div class="form-group">
                    <label for="loanamount">Loan Amount ( $ )</label>
                    <input type="text" class="form-control" id="loanamount" placeholder="" value="{{ item.price }}"  onfocusout="calculateLoan()">
                </div>
                <div class="form-group">
                    <label for="monthlypayment">Monthly payment</label>
                    <input type="text" class="form-control" id="monthlypayment" placeholder="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  id="calculateLoan">Calculate</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(function () {

        $("#calculateLoan").click(function () {
            calculateLoan();
        });


        $("#loanTerms").change(function () {
            calculateLoan()
        });


    });
    function calculateLoan() {
        var months = $("#loanTerms").val();
        var interest = $("#interestrate").val();
        if (interest == "") {
            $("#interestrate").parent().addClass("has-error");
            return;
        }
        var loanamount = $("#loanamount").val();
        if (loanamount == "") {
            $("#loanamount").parent().addClass("has-error");
            return;
        }
        interest = parseFloat(interest)
        var percent = interest / 100;
        var formulaup = loanamount * percent;
        var formulasquares = Math.pow(1 / (1 + percent), months);
        ;
        var formuladown = 1 - formulasquares;
        formula = formulaup / formuladown;
        console.log(months);
        console.log(percent);
        console.log(loanamount);
        console.log(formula);
        $("#monthlypayment").val(formula.toFixed(2));
    }
</script>