<!-- Modal -->
<div class="modal fade" id="loancalc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Payment Calculator</h4>
            </div>
            <div class="modal-body">
                {#<div class="CalculatePayment">#}
                <div class="CalculatorHeader">
                    <div>Calculate Payment</div>
                </div>
                <div class="CalculatorMiddle">
                    <div class="OverviewCalc">
                        Use this calculator if you know the price of your vehicle
                        <br>
                        and need to estimate the Monthly Payment.
                        <br>
                        <br>
                        Start below by entering your Desired Vehicle Price.
                    </div>
                    <div class="DesiredPrice">
                        <div class="InputLabel">
                            <div> *Desired Vehicle Price:</div>
                            <input id="desiredPrice" name="Desired Vehicle Price"
                                   onkeyup="javascript:PaymentCalculator();"
                                   value="{{ price }}" type="text">
                        </div>
                    </div>
                    <div class="CalculatorInput">
                        <div class="InputLabel">
                            <div> Sales Tax:</div>
                            <input id="salesTax1" name="Sales Tax"
                                   onblur="CalculatorPopulateField(this, '0'); AddPercentToNumeric(this); PaymentCalculator();"
                                   onfocus="AddPercentToNumeric(this); CalculatorClearField(this, '0');"
                                   onkeyup="javascript:PaymentCalculator();" value="6.25%" type="text">
                        </div>
                        <div class="clearall"></div>
                        <div class="InputLabel">
                            <div> *Term in Months:</div>
                            <input id="term1" name="Term in Months"
                                   onblur="CalculatorPopulateField(this, '36'); PaymentCalculator();"
                                   onfocus="CalculatorClearField(this, '36');" onkeyup="javascript:PaymentCalculator();"
                                   value="36" type="text">
                        </div>
                        <div class="clearall"></div>
                        <div class="InputLabel">
                            <div> *Rate / APR:</div>
                            <input id="rate1" name="Rate / APR"
                                   onblur="CalculatorPopulateField(this, '7'); AddPercentToNumeric(this); PaymentCalculator();"
                                   onfocus="AddPercentToNumeric(this); CalculatorClearField(this, '7');"
                                   onkeyup="javascript:PaymentCalculator();" value="7%" type="text">
                        </div>
                        <div class="clearall"></div>
                        <div class="InputLabel">
                            <div class="CalculatorLabel">
                                Down Payment or
                                <br>
                                Trade-In Value:
                            </div>
                            <input id="downPayment1" name="Down Payment or Trade-In Value"
                                   onblur="CalculatorPopulateField(this, '0'); PaymentCalculator();"
                                   onfocus="CalculatorClearField(this, '0');" onkeyup="javascript:PaymentCalculator();"
                                   value="0" type="text">
                        </div>
                        <div class="clearall"></div>
                    </div>
                    <div class="Line"></div>
                    <div class="Estimated">
                        <div> Estimated Monthly Payment:</div>
                        <div id="monthlyPayment" class="CalculatedValue">$0.00</div>
                    </div>
                    {#<div class="clearall"></div>#}
                    <div class="Required"> * = Required</div>
                </div>
                {#</div>#}
                {#<div class="modal-footer">#}
                {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                {#<button type="button" class="btn btn-primary"  id="calculateLoan">Calculate</button>#}
                {#</div>#}
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{{ asset('css/calculator.css') }}" />
<script type="text/javascript" src="{{ asset("js/calculator.js") }}"></script>