<!-- Modal -->
<div class="modal fade" id="paymentcalc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog paymentCalcDialog" role="document">
        <div class="modal-content" id="paymentModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Payment Calculator</h4>
            </div>
            <div class="modal-body" style="height: 300px">
                <div class="col-md-2">
                    <span>Vehicle Type</span>
                    <select class="form-control">
                        <option selected="selected" value="PV">Cars, Trucks, SUVs</option>
                        <option value="HeavyTruckTrailers">Commercial Heavy Trucks</option>
                        <option value="TransportTrailers">Trailers</option>
                        <option value="RV">RVs</option>
                        <option value="Boats">Boats</option>
                        <option value="Watercraft">Watercraft</option>
                        <option value="MotorcyclesATV">Motorcycles & ATVs</option>
                        <option value="Snowmobile">Snowmobiles</option>
                        <option value="HeavyEquipment">Heavy Equipment</option>
                        <option value="FarmEquipment">Farm Equipment</option>
                    </select>
                    <span>Purchase Price</span>
                    <input type="text" placeholder="Vehicle price" maxlength="13" class="form-control"
                           value="{{ item.price }}" required>
                </div>
                <div class="col-md-7">
                    <div class="row spacing">
                        <div class="termMonthsTxt col-md-3" style="display:inline-block">
                            <span>Term (months)</span>
                        </div>
                        <div class="termMonths radioButtons col-md-5" style="display:inline-block">
                            <input name="termMonths" value="24" type="radio" id="termMonths24">
                            <label for="termMonths24" class="btn btn-default">24</label>

                            <input name="termMonths" value="36" type="radio" id="termMonths36">
                            <label for="termMonths36" class="btn btn-default">36</label>

                            <input name="termMonths" value="46" type="radio" id="termMonths46">
                            <label for="termMonths46" class="btn btn-default">46</label>

                            <input name="termMonths" value="60" type="radio" id="termMonths60">
                            <label for="termMonths60" class="btn btn-default">60</label>

                            <input name="termMonths" value="72" type="radio" id="termMonths72">
                            <label for="termMonths72" class="btn btn-default">72</label>
                        </div>
                        <div class="paymentFrequency radioButtons col-md-4" style="display:inline-block">
                            <input name="paymentFrequency" value="12" type="radio" id="paymentFrequencyMonthly">
                            <label for="paymentFrequencyMonthly" class="btn btn-default">Monthly</label>

                            <input name="paymentFrequency" value="26" type="radio" id="paymentFrequencyWeekly">
                            <label for="paymentFrequencyWeekly" class="btn btn-default">Bi-weekly</label>
                        </div>
                    </div>
                    <div class="row spacing">
                        <div class="creditRatingTxt col-md-4" style="display:inline-block">
                            <span>Credit Rating</span>
                        </div>
                        <div class="creditRating radioButtons col-md-8" style="display:inline-block">
                            <input name="creditRating" value="Excellent" type="radio" id="creditRatingExcellent">
                            <label for="creditRatingExcellent" class="btn btn-default">Excellent</label>

                            <input name="creditRating" value="Very Good" type="radio" id="creditRatingVeryGood">
                            <label for="creditRatingVeryGood" class="btn btn-default">Very Good</label>

                            <input name="creditRating" value="Good" type="radio" id="creditRatingGood">
                            <label for="creditRatingGood" class="btn btn-default">Good</label>

                            <input name="creditRating" value="Fair" type="radio" id="creditRatingFair">
                            <label for="creditRatingFair" class="btn btn-default">Fair</label>

                            <input name="creditRating" value="Poor" type="radio" id="creditRatingPoor">
                            <label for="creditRatingPoor" class="btn btn-default">Poor</label>
                        </div>
                    </div>
                    <div class="row spacing">
                        <div class="interestRateTxt col-md-4">
                            <span>Interest rate</span>
                        </div>
                        <div class="interestRate col-md-4">
                            <input type="text" class="form-control" required id="interestRate">
                        </div>
                    </div>
                    <div class="row spacing">
                        <div class="col-md-4">
                            <span>Cash Down / Trade-In Value</span>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Down payment">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Trade-in value">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row resultPayment">
                            <h3 class="result">$234</h3>
                            <p id="paymentFrequencyChecked">&nbsp</p>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <span>Financed amount</span>
                        </div>
                        <div class="col-md-4">
                            <p class="financedAmount"> $5678</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <span>Est. cost of credit</span>
                        </div>
                        <div class="col-md-4">
                            <p class="estCost">$32456</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <span>Est. total</span>
                        </div>
                        <div class="col-md-4">
                            <p class="estTotal">$456</p>
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="modal-footer">#}
            {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
            {#<button type="button" class="btn btn-default" id="calculateLoan">Calculate</button>#}
            {#</div>#}
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('input[type=radio][name=creditRating]').change(function () {
            if (this.value == 'Excellent') {
                $('#interestRate').val(4.99);
            }
            else if (this.value == 'Very Good') {
                $('#interestRate').val(5.99);
            }
            else if (this.value == 'Good') {
                $('#interestRate').val(7.99);
            }
            else if (this.value == 'Fair') {
                $('#interestRate').val(13.99);
            }
            else if (this.value == 'Poor') {
                $('#interestRate').val(19.99);
            }
        });
    });
    $(document).ready(function () {
        $('input[type=radio][name=paymentFrequency]').change(function () {
            if (this.value == '12') {
                document.getElementById("paymentFrequencyChecked").innerHTML = "Monthly *";
            }
            else if (this.value == '26') {
                document.getElementById("paymentFrequencyChecked").innerHTML = "Bi-weekly *";
            }
        });
    });
</script>