leasing_api_all:
    path:     /all.{_format}
    defaults: { _controller: "NumaDOAApiBundle:LeasingREST:all",_format: "json"}
    requirements: { _method: get }
leasing_by_dealer_api:
    path:     /{dealer_id}/dealer.{_format}
    defaults: { _controller: "NumaDOAApiBundle:LeasingREST:byDealer",_format: "json"}
    requirements: { _method: get }
leasing_api_by_dealer_principal:
    path:     /dealerprincipal/{dealer_group_id}.{_format}
    defaults: { _controller: "NumaDOAApiBundle:LeasingREST:byDealerPrincipal",_format: "json"}
    requirements: { _method: get }
