<div class="btn-group-vertical">
    <button type="button" class="btn btn-warning" data-toggle="modal"
            data-target="#eprice">Get ePrice
    </button>
    <button type="button" class="btn btn-warning" data-toggle="modal"
            data-target="#finance">Apply for Financing
    </button>
    <button type="button" class="btn btn-warning" data-toggle="modal"
            data-target="#contact">Contact us
    </button>
    <button type="button" class="btn btn-warning" data-toggle="modal"
            data-target="#offer">Make an Offer
    </button>
    <button type="button" class="btn btn-warning" data-toggle="modal"
            data-target="#offerTradeIn">Offer Trade In
    </button>
    <button type="button" class="btn btn-warning" data-toggle="modal"
            data-target="#loancalc">Payment Calculator
    </button>
    <button type="button" class="btn btn-warning" data-toggle="modal"
            data-target="#testdrive">Schedule a Test Drive
    </button>
</div>
