<!-- Modal -->
<div class="modal fade" id="eprice_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Get ePrice</h4>

            </div>
            <div class="modal-body">

                <div class="te">Loading...</div>
            </div>
            <div class="eprice_error"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit_eprice">Send</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal -->
<div class="modal fade" id="finance_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Apply for Financing</h4>

            </div>
            <div class="modal-body">

                <div class="te">Loading...</div>
            </div>
            <div class="finance_error"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit_finance">Send</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
    $(document).ready(function () {

        var itemid;
        $(".eprice").on('click', function () {

            var modal = $('#eprice_modal');
            itemid = $(this).data('itemid');
            console.log(itemid);
            modal.on('show.bs.modal', function () {
                $('#eprice_modal .modal-body').load('/item/' + itemid + '/eprice');
            }).modal();
        });

        $('#submit_eprice').click(function (e) {
            e.preventDefault();
            var form = $('#eprice_form').serializeArray();
            console.log(form);
            $.ajax({
                type: "POST",
                data: form,
                url: '{{ path("listing_form_post",{"form":'eprice' }) }}',
                success: function (data) {
                    if (data.message == 'error') {
                        $(".eprice_error").html(data.action);
                    } else {
                        $('#eprice_modal').modal('toggle');
                        $('.alertz').html("Successfully sent eprice form.");
                        $('.alertz').addClass("alert-success");
                        $('.alertz').removeClass("dontshow");
                        $('.alertz').show();
                        setTimeout(function () {
                            $('.alertz').fadeOut(1000);
                        }, 3000);
                    }
                }
            })
        })

        $(".finance").on('click', function () {

            var modal = $('#finance_modal');
            itemid = $(this).data('itemid');
            console.log(itemid);
            modal.on('show.bs.modal', function () {
                $('#finance_modal .modal-body').load('/item/' + itemid + '/finance');
            }).modal();
        });

        $('#submit_finance').click(function (e) {
            e.preventDefault();
            var form = $('#finance_form').serializeArray();
            console.log(form);
            $.ajax({
                type: "POST",
                data: form,
                url: '{{ path("listing_form_post",{"form":'finance' }) }}',
                success: function (data) {
                    if (data.message == 'error') {
                        $(".finance_error").html(data.action);
                    } else {
                        $('#finance_modal').modal('toggle');
                        $('.alertz').html("Successfully sent finance form.");
                        $('.alertz').addClass("alert-success");
                        $('.alertz').removeClass("dontshow");
                        $('.alertz').show();
                        setTimeout(function () {
                            $('.alertz').fadeOut(1000);
                        }, 3000);
                    }
                }
            })
        })
    });

</script>