<h1 class="title">{{ item.getListingTitle(false) }}
    {% if item.getTrim() is not empty %}
        <span class="trim">{{ item.getTrim() }}</span>
    {% endif %}
    {% if (item.getSold()==1) %}
        <span class="badge">Sold</span>
    {% endif %}
</h1>