Numa\DOAAdminBundle\Entity\ItemField:
    type: entity
    table: item_field
    repositoryClass: Numa\DOAAdminBundle\Repository\ItemFieldRepository
    indexes:
        feed:
            columns: [ feed_id ]
        field_name:
            columns: [ field_name ]

    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        item_id:
            type: integer
        field_name:
            type: string
            length: 255
            nullable: true
        field_type:
            type: string
            length: 32
            nullable: true
        field_string_value:
            type: text
            nullable: true
        field_boolean_value:
            type: boolean
            nullable: true
        field_integer_value:
            type: integer
            nullable: true
        field_double_value:
            type: float
            nullable: true
        field_datetime_value:
            type: datetime
            nullable: true
        field_id:
            type: integer
            nullable: true
        sort_order:
            type: integer
            nullable: true
        feed_id:
            type: integer
            nullable: true
    manyToOne:
        Item:
            targetEntity: Item
            inversedBy: ItemField
            joinColumn:
                name: item_id
                referencedColumnName: id
                onDelete: cascade
        Listingfield:
            targetEntity: Listingfield
            inversedBy: ItemField
            #cascade: ["persist","remove"]
            joinColumn:
                name: field_id
                referencedColumnName: id
                onDelete: cascade