{% extends app.request.get('_dashboard')=='DMS'
? 'NumaDOADMSBundle::layout.html.twig'
: 'NumaDOAAdminBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    <h1>Page creation</h1>

    {{ form(form) }}

    {% if(app.request.get('_dashboard')=='DMS') %}
        <a href="{{ path('dms_page') }}" class="btn btn-primary">
            Back to the list
        </a>
    {% else %}
        <a href="{{ path('page') }}" class="btn btn-primary">
            Back to the list
        </a>
    {% endif %}

{% endblock %}
