{% import "NumaDOASiteBundle::components.html.twig" as component %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include 'NumaDOASiteBundle::favicons.html.twig' %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0"/>

    <title>Dealers on Air</title>
    <meta name="description" content=" "/>
    <meta name="keywords" content=" "/>
    {% block stylesheets %}

        {% stylesheets '@bootstrap'  'bundles/numadoasite/Bridge/css/bridge.css'  filter='cssrewrite' output='css/*.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        {% javascripts '@bootstrapx_js' "bundles/numadoasite/Bridge/js/mobilemenu.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock %}
    {% block ga %}
        {% include "NumaDOASiteBundle::ga.html.twig" %}
    {% endblock %}
</head>

<body>
<header class="site-header">
    {% block headline %}
        {% include 'NumaDOASiteBundle::headline.html.twig' %}
    {% endblock %}

    {% block mainmenu %}
        {% include 'NumaDOASiteBundle::mainmenu.html.twig' %}
    {% endblock %}

    {% block mobilemenu %}
        {% include 'NumaDOASiteBundle::mobilemenu.html.twig' %}
    {% endblock %}
</header>
{#{% block banner %}#}
    {#<div class="banner">#}

        {#<div class="image">#}
            {#{% image 'bundles/numadoasite/Sea/images/banner.jpg' %}#}
            {#<img src="{{ asset_url }}" alt="Example"/>#}
            {#{% endimage %}#}
        {#</div>#}

    {#</div>#}
{#{% endblock %}#}


<main class="site-content layout-full-width-no-padding">
    <section class="splash keyword-search-on " style="background-image:url(https://i0.wp.com/www.truxrus.com/wp-content/uploads/sites/245/2016/09/chevrolet-hero-1.jpg?ssl=1);">

        <div class="hero-content">
            <div class="group">
                <h2>Browse Our Huge Stock of Commercial Trucks and Vans</h2>

                <div class="container">
                    <form action="/inventory/search" id="querySearchForm" class="keyword-search-form">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-6 the-input">
                                <label class="sr-only" for="query">Find a vehicle</label>
                                <input class="form-control" name="query" placeholder="Search by make, model or keyword" type="text">
                            </div>
                            <div class="col-md-4">
                                <button type="submit" id="quickSearchSubmit" class="btn btn-bridge-red">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="buttons">
                    <div class="button">
                        <a href="/inventory/used/2015-ford-f-350-saskatoon-saskatchewan/10835845" class="btn btn-bridge-red">Flat Decks</a>
                    </div>
                    <div class="button">
                        <a href="/inventory/search?stock_type=USED&amp;page=1&amp;page_length=20&amp;body_type=Cargo%20Van" class="btn btn-bridge-red">Cargo Vans</a>
                    </div>
                    <div class="button">
                        <a href="/" class="btn btn-bridge-red">Cube Vans</a>
                    </div>
                    <div class="button">
                        <a href="/inventory/search?stock_type=USED&amp;page=1&amp;page_length=20&amp;body_type=Chassis%20Cab" class="btn btn-bridge-red">Chassis Cabs</a>
                    </div>
                    <div class="button">
                        <a href="/inventory/search?stock_type=USED&amp;page=1&amp;page_length=20&amp;body_type=Chassis%20Cab" class="btn btn-bridge-red">Chassis Cabs</a>
                    </div>
                    <div class="button">
                        <a href="/inventory/search?stock_type=USED&amp;page=1&amp;page_length=20&amp;body_type=Chassis%20Cab" class="btn btn-bridge-red">Chassis Cabs</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {% block featuredads %}
        <h2 class="featured-header" style="padding-top: 25px;">Vehicles on Special</h2>
        {{ render_esi(controller('NumaDOASiteBundle:Default:featuredAdd', { 'max': 6,'order':1 })) }}
    {% endblock %}
    <section class="colorblock-section has-background-img home-colorblock color-light" style="background-image:url(https://i2.wp.com/www.truxrus.com/wp-content/uploads/sites/245/2016/09/home-vans-img-background.jpg?ssl=1); ">
        <div class="container welcome-text">
            <div class="row">
            <div class="title-block">
                <h2>Used Commercial Vehicles in Saskatoon, Saskatchewan</h2>
            </div>

            <div class="content-block">
                <div class="row">
                    <div class="col-md-12">
                        <p>At Saskatoon Truck Centre, just 12 kilometers south of the city on Highway 11, we are the province’s largest source for commercial trucks and vans. Tradespeople from all across Regina, Swift Current, Moose Jaw, and North Battleford come to us for their specific pre-owned work vehicle from Chevrolet, GMC, Ford, RAM, Mercedes-Benz Sprinter, and Mitsubishi in the following gas and diesel configurations:</p>
                        <ul style="color: #fff;">
                            <li>Half, three-quarter, and one ton pick ups</li>
                            <li>Flat decks</li>
                            <li>Cargo vans</li>
                            <li>Cube vans</li>
                            <li>Chassis cabs</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
    </section>
    <div class="content">
        <div class="alertz hide alert"></div>
        {% block content %}

        {% endblock %}

        {% block map %}
            {% include '@NumaDOASite/map.html.twig' %}
        {% endblock %}
    </div>
</main>

{% block footer %}
    {% include 'NumaDOASiteBundle::footer.html.twig' %}
{% endblock %}
<div id="loading-indicator" class="loading_info">
    <i class="fa fa-spinner fa-pulse fa-spin fa-5x"></i>
</div>
</body>
</html>