<div class="mobile-menu">

    <ul class="menu">
        <li><span class="separator">Menu</span>
            <ul>
                <li><a href="{{ path("homepage") }}">Home</a></li>
                <li><span class="separator">Showroom</span>
                    <ul>
                        <li><a href="{{ path("search_new_vehicle") }}">Current New Inventory</a></li>
                        <li><a href="{{ path("search_used_vehicle") }}">Pre-Owned Inventory</a></li>
                        <li><a href="{{ path("finance_form") }}">Financing</a></li>
                        <li><a href="">Finance Calculator</a></li>
                        <li><a href="">Trade In</a></li>
                        <li><a href="">Get a Quote</a></li>
                        <li><a href="">Schedule Test Ride</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </li>
                <li><a href="">Dealer Services</a></li>
                <li><a href="">Dealer Info</a></li>
                <li><a href="">Customer Corner</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </li>
    </ul>

</div>