{% extends app.request.get('_dashboard')=='DMS'
? 'NumaDOADMSBundle::layout.html.twig'
: 'NumaDOAAdminBundle::layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    {% include 'NumaDOAAdminBundle::flashmsg.html.twig' %}
    <h1>Ad edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            {% if(app.request.get('_dashboard')=='DMS') %}
                <a href="{{ path('dms_ad_index') }}" class="btn btn-primary">
                    Back to the list
                </a>
            {% else %}
                <a href="{{ path('ad_index') }}" class="btn btn-primary">
                    Back to the list
                </a>
            {% endif %}
        </li>
    </ul>

    {{ form(delete_form) }}

    <script>
        $('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: new Date()
        });
    </script>
{% endblock %}
