{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    <h1>Ad edit</h1>

    <div class="form_error"></div>
    <form method="POST" class="ajaxForm" action="{{path('ad_update',{'id':entity.id})}}" {{ form_enctype(edit_form) }}>
        <div id="form_body">
            {% include 'NumaDOAModuleBundle:Ad:adForm.html.twig' with {'form': edit_form} %}
        </div>
        {{form_rest(edit_form)}}
    </form>
{% endblock %}
