<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    {% block title %}<title>{{title}}</title>{% endblock title %}
    {% stylesheets '@bootstrap'  '@jquery_ui_css'  '@style' filter='yui_js' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    {% block javascripts %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        {% javascripts '@bootstrapx_js' '@jquery_ui_js' '@common_js'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>        
    {% endjavascripts %}
    {% endblock %}
</head>