<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    {% block title %}<title>{{title}}</title>{% endblock title %}
    {% stylesheets '@bootstrap'  '@jquery_ui_css'  '@style' filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    
    {% endblock %}
</head>