<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>Dealers on Air</title>

    {% stylesheets '@bootstrap'  '@jqueryui'  '@style' filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    {% block javascripts %}
        {% javascripts '@bootstrapx_js' '@jquery_ui_js' '@common_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}


    {% endblock %}
</head>