<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0"/>

<title>Dealers on Air</title>
<meta name="description" content=" " />
<meta name="keywords" content=" " />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="">
<meta itemprop="description" content="">
<meta itemprop="image" content="">

<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
{#<meta name="twitter:site" content="@publisher_handle">#}
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
{#<meta name="twitter:creator" content="@author_handle">#}
<meta name="twitter:image" content="">
{#<meta name="twitter:data1" content="$3">#}
{#<meta name="twitter:label1" content="Price">#}
{#<meta name="twitter:data2" content="Black">#}
{#<meta name="twitter:label2" content="Color">#}

<!-- Open Graph data -->
<meta property="og:title" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:description" content="" />
<meta property="og:site_name" content="" />
<link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
{#<meta property="og:price:amount" content="15.00" />#}
{#<meta property="og:price:currency" content="USD" />#}