<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- default:main:default.tpl -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />

        {% block title %}<title>{{title}}</title>{% endblock title %}
        {% block stylesheets %}
            {% stylesheets   '@style' filter='cssrewrite' output='css/*.css' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}

    </head>
    <body class=" default ">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    {% block content %}
                    {% endblock %}
                </div>                
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    {% include 'NumaDOASite::copyright.html' %}
                </div>

            </div>          

        </div> <!-- /container -->


    </body>
</html>

<!-- /default:main:default.tpl -->

