{% extends 'NumaDOAAdminBundle::layout.html.twig' %}
 {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}

    <h1>Coupon creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('coupon') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
