{% extends is_granted('ROLE_BUSINES')
? 'NumaDOASiteBundle::home-layout.html.twig'
: 'NumaDOADMSBundle::layout.html.twig' %}

{% block content %}
    <div class="alert alert-success">{{ message }}</div>
{% endblock %}