{% include "NumaDOASiteBundle::google_tag_body.html.twig" %}
<div class="header">
    <div id="header-top" class="header-item content">
        {% include 'NumaDOASiteBundle::header-top.html.twig' %}
    </div>
    <div id="header-menu" class="header-item">
        {% include 'NumaDOASiteBundle::header-menu.html.twig' %}
    </div>
    <div id="header-mid" class="header-item">
        {% include 'NumaDOASiteBundle::header-mid.html.twig' %}
    </div>
    <div id="header-bottom" class="header-item content">
        {% include 'NumaDOASiteBundle::header-bottom.html.twig' %}
    </div>
</div>