{% import "NumaDOASiteBundle::components.html.twig" as component %}

<div class="section">
    <h3>{% if image is not empty and image.carousel_text is  defined %}{{ image.carousel_text|striptags }}{% endif %}</h3>
    {% if image is not empty and image is not empty and image.src is defined %}
        {% if "upload/dealers" in image.src %}
            {{ component.image(image.src, '', '', '') }}
        {% else %}
            {{ component.image("/upload/dealers/"~image.src, 'Western Motor Products', '', '') }}
        {% endif %}
    {% endif %}
    <a class="button" href=" {% if image is not empty and image.url is  defined %}{{ image.url }}{% else %}#{% endif %}">View Inventory</a>
</div>