Numa\DOADMSBundle\Entity\Customer:
    type: entity
    table: customer
    repositoryClass: Numa\DOADMSBundle\Repository\CustomerRepository
    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        name:
            type: string
            length: 255
            nullable: true
        first_name:
            type: string
            length: 255
            nullable: true
        last_name:
            type: string
            length: 255
            nullable: true
        address:
            type: string
            length: 255
            nullable: true
        address2:
            type: string
            length: 255
            nullable: true
        city:
            type: string
            length: 255
            nullable: true
        state:
            type: string
            length: 255
            nullable: true
        zip:
            type: string
            length: 255
            nullable: true
        country:
             type: string
             length: 255
             nullable: true
        home_phone:
             type: string
             length: 255
             nullable: true
        work_phone:
             type: string
             length: 255
             nullable: true
        mobile_phone:
             type: string
             length: 255
             nullable: true
        sales_person:
             type: string
             length: 255
             nullable: true
        fax:
             type: string
             length: 255
             nullable: true
        email:
             type: string
             length: 255
             nullable: true
        anotes:
             type: text
             nullable: true
        followup_date:
             type: datetime
             nullable: true
        date_created:
             type: datetime
             nullable: true
        date_updated:
             type: datetime
             nullable: true
        status:
             type: string
             length: 255
             nullable: true
        dealer_id:
             type: integer
             nullable: true
        logo:
            type: string
            length: 255
            nullable: true
        qb_id:
            type: integer
            nullable: true
    manyToOne:
        Catalogrecords:
            targetEntity: Numa\DOAAdminBundle\Entity\Catalogrecords
            inversedBy: Customer
            joinColumn:
                name: dealer_id
                referencedColumnName: id
    oneToMany:
        Note:
            targetEntity: Numa\DOADMSBundle\Entity\Note
            mappedBy: Customer
            cascade: [persist]
        Billing:
            targetEntity: Numa\DOADMSBundle\Entity\Billing
            mappedBy: Customer
            cascade: [persist]
        Reminder:
            targetEntity: Numa\DOADMSBundle\Entity\Reminder
            mappedBy: Customer
            cascade: [persist]
    lifecycleCallbacks:
        prePersist: [ setCreatedAtValue ]
        preUpdate: [ setUpdatedAtValue ]