Numa\DOADMSBundle\Entity\DealerComponent:
    type: entity
    table: dealer_component

    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        dealer_id:
            type: integer
            nullable: true
        name:
            type: string
            length: 255
            nullable: true
        type:
            type: string
            length: 255
            nullable: true
        value:
             type: text
             nullable: true
        settings:
             type: text
             nullable: true
        helpdesc:
             type: text
             nullable: true
        date_updated:
             type: datetime
             nullable: true
        date_created:
             type: datetime
             nullable: true
        status:
             type: string
             length: 255
             nullable: true
        theme:
             type: string
             length: 255
             nullable: true
    manyToOne:
        Dealer:
            targetEntity: Numa\DOAAdminBundle\Entity\Catalogrecords
            inversedBy: dealer_component
            joinColumn:
                name: dealer_id
                referencedColumnName: id
    lifecycleCallbacks:
        prePersist: [ setCreatedAtValue ]
        preUpdate: [ setUpdatedAtValue ]