Numa\DOADMSBundle\Entity\ListingForm:
    type: entity
    table: listing_form
    repositoryClass: Numa\DOADMSBundle\Repository\ListingFormRepository
    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        cust_name:
            type: string
            length: 255
            nullable: true
        cust_last_name:
            type: string
            length: 255
            nullable: true
        cust_officer:
            type: string
            length: 255
            nullable: true
        contact_by:
            type: string
            length: 255
            nullable: true
        email:
            type: string
            length: 255
            nullable: true
        phone:
            type: string
            length: 255
            nullable: true
        date_drive:
            type: date
            nullable: true
        comment:
            type: text
            nullable: true
        dealer_id:
            type: integer
            nullable: true
        customer_id:
            type: integer
            nullable: true
        item_id:
            type: integer
            nullable: true
        date_created:
            type: datetime
            nullable: true
        date_updated:
            type: datetime
            nullable: true
        status:
            type: string
            length: 255
            nullable: true
        type:
            type: string
            length: 255
            nullable: true
        trade_in:
            type: integer
            nullable: true
        make:
            type: string
            length: 255
            nullable: true
        model:
            type: string
            length: 255
            nullable: true
        year:
            type: integer
            nullable: true
        kilometers:
            type: bigint
            nullable: true
        accessories:
            type: text
            nullable: true
        special:
            type: text
            nullable: true
        offer_amt:
            type: string
            length: 255
            nullable: true
        make_onsite:
            type: string
            length: 255
            nullable: true
        model_onsite:
            type: string
            length: 255
            nullable: true
        year_onsite:
            type: integer
            nullable: true
        image1:
            type: string
            length: 255
            nullable: true
        image2:
            type: string
            length: 255
            nullable: true
        image3:
            type: string
            length: 255
            nullable: true
        spam:
            type: boolean
            options:
               default: false
            nullable: true
    manyToOne:
        Dealer:
            targetEntity: Numa\DOAAdminBundle\Entity\Catalogrecords
            inversedBy: ListingForm
            joinColumn:
                name: dealer_id
                referencedColumnName: id
        Customer:
            targetEntity: Numa\DOADMSBundle\Entity\Customer
            inversedBy: ListingForm
            joinColumn:
                name: customer_id
                referencedColumnName: id
        Item:
            targetEntity: Numa\DOAAdminBundle\Entity\Item
            inversedBy: ListingForm
            joinColumn:
                name: item_id
                referencedColumnName: id
    lifecycleCallbacks:
        prePersist: [ setCreatedAtValue ]
        preUpdate: [ setUpdatedAtValue ]