/*****************************************
ads rotate new xxx
******************************************/

.flip-container {
    perspective: 1000px;
    margin-bottom: 20px;
    position: relative;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: auto;
    height: auto;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}
.right-side-ad-link {
    position: absolute;
    top: 0;
    left:0;

}
.size350x250, .size350x250 .front, .size350x250 .back {
    width: 350px;
    height: 250px;
}

.size350x125, .size350x125 .front, .size350x125 .back {
    width: 350px;
    height: 250px;
}

.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}


.front {
    z-index: 2;
    transform: rotateY(0deg);
}


.back {
    transform: rotateY(180deg);
}