{% extends 'NumaDOASiteBundle::listing-layout.html.twig' %}
{% block content %}

    <div class="alert alert-success">{{ message }}</div>

    <a href="{{ path('service_form') }}" class="btn btn-default" >
        Back to the service form
    </a>

{% endblock %}