<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>iAuto Admin Panel </title>
        {% stylesheets '@admin' '@bootstrap'  '@jquery_ui_css'  filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    {% block javascripts %}
        {% javascripts '@bootstrapx_js' '@jquery_ui_js' '@tinymce_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}


    {% endblock %}
    
    <script>
        $(function() {
            $(".sortable").sortable();
            $('.date').datepicker({dateFormat: 'yy-MM-dd'})
            $(".sortable").disableSelection();
        });
        tinymce.init({selector:'textarea.tinymce',
                // ===========================================
// INCLUDE THE PLUGIN
// ===========================================
                plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste jbimages"
        ],
// ===========================================
// PUT PLUGIN'S BUTTON on the toolbar
// ===========================================
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages",
// ===========================================
// SET RELATIVE_URLS to FALSE (This is required for images to display properly)
// ===========================================
                relative_urls: false
        });
        </script>

    </head>