* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    font: 14px 'Open Sans', sans-serif;
    min-height: 100%;
    position: relative;
}

/* ==========================================================================
   Header
   ========================================================================== */
.clear {
    clear: both;
}
header.site-header {
    background-color: #fff;
    color: #818e92;
}
header.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo {
    display: block;
    float: left;
    margin: 14px 0;
}

.logo img { max-width: 100%; }

header .contact-info {
    float: right;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 28px;
    text-transform: uppercase;
}

header .phone {
    line-height: 28px;
    color: #c51633;
}

header .content{
    margin:0 auto;
    border: none;
}

.menu{
    background-color: #232323;
    clear: both;
    font-weight: 700;
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.menu ul{
    display: table;
    padding: 0 10px;
    list-style: none;
    margin-bottom: 0;
    margin: 0 auto;
}
.menu li{
    float:left;
    padding:0px;
}
.menu li a{
    color: #fff;
    display: block;
    line-height: 20px;
    text-decoration: none;
    font-size: 1em;
    padding: 20px 65px;
}
.menu li a:hover, .menu ul li:hover a{
    background-color: #232323;
    color: #c51633;
}

.menu li ul{

    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    /*width: 225px;*/
    width:205px;
    z-index:200;
    /*top:1em;
    /*left:0;*/
}
.menu li:hover ul{
    display:block;
    background-color: #232323;
}
.menu li li {

    display:block;
    float:none;
    margin:0px;
    padding:0px;

    width:205px;
}
.menu li:hover li a{
    background:none;

}
.menu li ul a{
    display:block;
    line-height: 20px;
    font-size:13px;
    font-style:normal;
    margin:0px;
    padding: 10px;
    text-align:left;
    color: #fff;
}
.menu li ul a:hover, .menu li ul li:hover a{
    background-color: #3c3c3c;
    border:0px;

    text-decoration:none;
}
.menu p{
    clear:left;
}
.menu ul li ul li { position: relative; }
.menu ul li ul li ul, .menu ul li:hover ul li ul { display: none; }
.menu ul li ul li:hover ul {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}
.menu ul li ul li:hover ul li a { background: none; color: #6d6d6d; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #c51633;
    border-color: #c51633;
    color: #fff;
    z-index: 0;
}

/* ==========================================================================
   Mobile Menu
   ========================================================================== */

.mobile-menu {
    background-color: #111;
    clear: both;
    display: none;
    position: relative;
    z-index: 1;
}

.mobile-menu ul {
    font-size: 16px;
    line-height: 22px;
    list-style: none;
}

.mobile-menu .mobmenu a,
.mobile-menu .mobmenu .separator {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 19px 20px;
}

.mobile-menu .mobmenu li { border-top: 1px solid #222; cursor:pointer; }

.mobile-menu .mobmenu > li:first-child { border-top: none; }

.mobile-menu .mobmenu > li > .glyphicon {
    font-size: 110%;
}
.mobile-menu .mobmenu li ul li ul{
    display: block !important;
}
.mobile-menu .mobmenu ul ul { background-color: #222; }

.mobile-menu .mobmenu ul ul li { border-top: 1px solid #333; }

.mobile-menu .mobmenu ul ul li:first-child { border-top: none; }


/* ==========================================================================
   Content
   ========================================================================== */

.splash {
    background-attachment: fixed;
    background-size: cover;
    height: 43.75rem;
    background: #000 none repeat scroll center top / cover ;
    width: 100%;
    background-color: #78838c;
    background-repeat: no-repeat;
    clear: both;
    color: #78838c;
    max-height: 100%;
    min-height: 12.5rem;
    background-attachment: fixed;
    height: 100%;
}


.splash .hero-content {
    padding: 10%;
    top: 20%;
}
.splash .hero-content {
    padding: 5%;
    top: 4%;
}
.splash .hero-content {
    top: 65%;
}
.splash .hero-content {
    top: 70%;
}
.splash .hero-content {
    position: relative;
    top: 230px;
    height: 700px;
}
.splash h1, .splash h2, .splash h3, .splash p {
    color: #fff;
    text-shadow: 0 0 1rem #333;
}
.splash h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.the-input input{
    font-size: 20px;
    height: 60px;
    line-height: 20px;
}
.hero-content .buttons{
    display: flex;
    margin-top: 30px;
}
.hero-content .buttons .button {
    flex-grow: 1;
    text-align: center;
}
.featured-header {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-bottom: 50px;
}
.featured-ads-item{
    font-size: 15px;
    color: #78838c;
}
.featured-ads-item .retailPrice{
    text-decoration:line-through;
}
.featured-ads-item h5 {
    height: 32px
}
.featured-ads-item .image {
    min-height: 120px;
}
.featured-ads-item .price{
    color: red;
}
.featured-ads-item .price-container{
    height: 30px;
}

.colorblock-section {
    background-attachment: fixed;
    background-size: cover;
    padding: 7rem 0;
    padding: 3.5rem 1.5rem;
    color: #fff;
    backgrount-color: #000;
}
.colorblock-section h2 {
    color: #fff;
}
/*.home-colorblock {*/

/*}*/
/*.colorblock-section {*/
    /*padding: 3.5rem 1.5rem;*/
/*}*/


.maincontent {
    margin-top: 250px;
}
.maincontent a {
    color: #c51633;
    text-decoration: none;
}

.option-lists li{
    /*color: #f78f1e;*/
}
.checkbox{
    color: black;
}

/* listing detail */
.detailsContent .row {
    margin: 0px;
}
.detailsContent .row p{
    padding: 10px;
}

.listing-buttons div{
    padding: 0px;
    text-align: right;
    z-index:1000;
    position: relative;
    top: 0px;
    right:0px;
}

.listing-buttons button{
    text-align: right;
    font-weight: bold;

}

.listing-box-top {
    min-height: 200px;
}



.detailsContent .option-lists{
    margin-left: 50px;
}
.detailsContent h2.section{
    margin: 0px;
    font-size: 130%;
    padding: 5px;
    background-color: #111111;
    color: #c51633;
    font-family:'Fjalla One','Open Sans', sans-serif;
}

.detailsContent .row {
    margin-bottom: 20px;
}
.detailsContent .retail_price {
    color: #c51633;
    text-decoration-line: line-through;
    font-size: 130%;
}
.detailsContent .price {
    font-size: 160%;
    font-weight: bold;
}

.detailsContent .price-quote {
    font-size: 130%;
    font-weight: bold;
}


.title{
    color: black;
}
.detailsContent  .left{
    padding:0;
    min-height: 400px;
}
.detailsContent .row{

}
.listing-right{
    height: 100%;
    position: relative;
    min-height: 400px;
    padding-right: 0;

}
.modal-body .offerTradeIn div{
    margin: 2px 0px;
}
.modal-dialog .offerTradeIn-content{
    min-width: 710px;
}
.btn-lightgrey{
    background-color: lightgrey;
}


/* ==========================================================================
   Footer
   ========================================================================== */

.footer-wrapper {
    background-color: #1a1a1d;
    padding: 20px;
}

.footer {
    padding-top: 70px;
    color: #fff;
    margin: 0 auto;
    max-width: 1020px;
}

.footer a{
    color: #fff;
}

.footer a:hover{
    text-decoration: none;
    color: #c51633;
}
.footer h4{
    color: #c51633;
}

.footer ul {
  list-style-type: none;
}

.footer li {
    display: inline-block;
    float: left;
    padding: 10px 20px;
}

.footer a {
    /*color: #c51633;*/
    /*font-weight: bold;*/
    text-decoration: none;
    text-transform: uppercase;
}

.footer .bottom-menu {
    overflow: hidden;
    margin-bottom: 50px;
    padding-bottom: 15px;
}

.footer .copyright{
    paddin-top: 70px;
}

.footer .text{
    color: #818e92;
}
#map {
    
    width: 100%;
}
.container .panel-heading {
    background-color: black;
    /*color: #f78f1e;*/
    font-weight: 600;
}

.bs-example{
    margin-top: -10px;
}

.homepage_carousel .text_widget {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
}
.homepage_carousel .carousel-inner {
    max-height: 500px;
}



@media only screen
and (max-width : 1023px) {

    .listing-buttons { top: 20px; }

    .left-arrow img { height: 34px; }

    .button-title {
        font-size: 13px;
        line-height: 13px;
    }

    .button-title span {
        font-size: 21px;
        line-height: 21px;
    }
    .welcome-content {
        margin: 20px;
    }
    .info > ul > li:first-child { display: none; }

}

@media only screen
and (max-width : 767px) {
    header.site-header {
        position: static;
    }

    header.site-header .container{
        margin-bottom: 20px;
    }
    .maincontent{
        margin-top: 0px;
    }
    .splash .hero-content {
        top: 0px;
    }

    .listing-buttons { top: 20px; }

    .header { text-align: center; }

    .logo {
        float: none;
        margin: 14px 0;
    }

    .header .contact-info {
        float: none;
        margin: 5px 0;
    }

    .header .map-and-hours {
        display: inline-block;
        float: none;
        margin: 0;
    }

    .header .phone {
        float: none;
        margin: 10px 0 14px 0;
    }

    .menu { display: none; }

    .mobile-menu { display: block; }

    .buttons {
        margin-top: 0;
    }

    .buttons ul {
        display: block;
    }

    .buttons li {
        display: block;
        margin: 20px;
    }

    .left-arrow img { height: 40px; }

    .button-title {
        font-size: 14px;
        line-height: 14px;
    }

    .button-title span {
        font-size: 28px;
        line-height: 26px;
    }
    .hero-content .buttons {
        display: block;
    }
    .splash .hero-content {
        height: auto;
    }

    .links { margin-top: 0; }

    .links ul { display: block; }

    .links li {
        display: block;
        margin: 20px;
    }

    .welcome-content {
        margin: 20px;
    }
    /*.row{*/
        /*margin:5px;*/
    /*}*/

    .links li:nth-child(even) { text-align: left; }

    .info > ul { display: block; }

    .info > ul > li {
        display: block;
        margin: 20px;
    }

    /*.bottom-menu { display: none; }*/

    .maincontent .searchSideBar .mobile-search{
        display: block !important;
    }

    .maincontent .searchSideBar .web-search{
        display: none !important;
    }

    .maincontent .searchSideBar{
        min-height: 0px;
    }

    .items .onSpecial{
        width: 303px !important;
        bottom: 0px !important;
    }
    .page-text img {
        min-width: 100% !important;
        width: 100% !important;
        height: auto !important;
    }
}

.featured-ads {
    margin: 0 auto 40px;
    max-width: 1020px;
    text-align: center;
}
.featured-ads .third{
    margin-right: 20px;
}

.featured-ads .last{
    margin-right: 0px;
}

.featured-ads-item{
    float: left;
    width: 160px;
    display: block;
    margin-right: 10px;
}

 .dontshow{
     display:none;
 }

.coupons-container {
    float: left;
    margin-bottom: 20px;
}

.coupon-container {
    border: 1px solid #111111;
    width: 250px;
    float: left;
    margin-left: 5px;
    padding: 10px;
    background-color: #e7e7e7;
}

.coupon-container h3 {
    text-align: center;
}

.coupon-container .coupon-image{
    width: 230px;
    /*height: 300px;*/
    overflow: hidden;
    margin-bottom: 10px;
}

.coupon-container a.coupon-print{
    font-size: 22px;
    float: right;
    color: #c51633;
}

.coupon-container a.coupon-print:hover{
    font-size: 24px;
}

.coupon-page-text{
    margin-bottom: 10px;
}
.bottom-margin{
    margin-bottom: 20px;
}

.btn-bridge-red{
    display: inline-block;
    margin: 8px;
    background-color: #c51633;
    border-color: #c51633;
    color: #fff;
    border-radius: 0;
    color: #fff !important;
    padding: 12px 40px;
    text-transform: uppercase;
}
.btn-bridge-red.smaller, .btn-bridge-black.smaller {
    padding: 6px 20px;
    font-size: 80%;
    width: 100%;
    white-space: normal;
    margin: 0px;
}

.btn-bridge-red:hover{
    background-color: #8a0f24;
    border-color: #8a0f24;
    color: #fff;
}
.btn-bridge-black{
    display: inline-block;
    margin: 8px;
    background-color: #232323;
    border-color: #232323;
    color: #fff;
    border-radius: 0;
    color: #fff !important;
    padding: 12px 40px;
    text-transform: uppercase;
}
.btn-bridge-black:hover{
    background-color: black;
    border-color: black;
    color: #fff;
}
.welcome-text{
    color: white;
}

.content-block {
    color: #fff;
}
.row .panel-info .panel-body .input-group{
    margin-bottom: 20px;
}

.img-responsive {
    min-width: 100%;
    width: 100%;
}


