.searchSideBar{
    border: 1px solid black;
    min-height: 500px;
    padding-top: 18px;
}
.searchSideBar .form-group{
    margin-bottom: 13px;
}

.page_ads{
    margin-top: 20px;
    float: right;
    width: 350px;
}

.page_ads .right-side-ads img{
    /*margin-left: 10px;*/
    margin-bottom: 22px;
}

.searchSidebar label{
    font-weight: normal;
}

.row .items{
    padding: 15px 0 0 0;
}
.items .picture-detail .noPhoto{
    width: 320px;
    height: 220px;
}
.shortDetails{
    color: #818e92;
}
.shortDetails h4 a{
    color: black;
    font-weight: 600;
    font-size: 23px;
}

#listing-content .item-row{
    margin: 0px;
    border: 1px solid lightslategray;
}
#listing-content .item-row:hover{
    background-color: #eee;
}
.techData .fieldValue{
    color: #78838c;
    font-weight: 700;
}
.shortDetails .price{
    font-size: 30px;
    font-weight: 600;
    color: #c51633;
}
.shortDetails .retailPrice{
    font-size: 16px;
    text-decoration:line-through;
}
.shortDetails .priceDetails{
    text-align: right;
}
.shortDetails .youSave{
    color: #232323;
    border-bottom: 1px dotted;
    margin-bottom: 30px;
}
.shortDetails a{
    text-decoration: none;
}
.priceDetails .viewVehicle{
    margin-top: 20px;
}
.items .onSpecial{
    background-color: #c51633;
    color: #fff;
    margin: 8px;
    padding: 12px 40px;
    text-align: center;
    width: 242px;
    font-weight: 700;
    position: absolute;
    top: 126px;
    left: 12px;
}
.listinsFound{
    margin-left: 30px;
    font-size: 16px;
    color: #818e92;
}
.listingsNumber .listinsPP{
    font-size: 18px;
    padding: 5px;
}
.listingsNumber .listinsPP:hover, .listingsNumber .active, .sort .active a:hover, .sort .active a{
    background-color: #c51633;
    color: #fff;
}
.sort .dropdown-menu{
    z-index: 800;
}