{#{% extends 'NumaDOADMSBundle::layout.html.twig' %}#}
{% extends app.request.get('_dashboard')=='DMS' and not is_granted("ROLE_NODMS_USER")
? 'NumaDOADMSBundle::layout.html.twig'
: is_granted('ROLE_BUSINES')?'NumaDOASiteBundle::wide-layout.html.twig':'NumaDOAAdminBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" type="text/css"
          rel="stylesheet"/>
    {% stylesheets
    'css/loading-bar.min.css'

    filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts

    'js/angular/angular143.min.js'
    'js/angular/angular-touch143.min.js'
    'js/angular/angular-animate143.min.js'

    'js/angular/ui-grid.js'
    'js/angular/angular-confirm.min.js'
    'js/angular/ui-bootstrap-tpls-1.2.2.min.js'
    'js/loading-bar.min.js' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        {% set includeJS= 'NumaDOADMSBundle:Inventory:inventoryArchived.js.twig' %}

        {% include includeJS %}
    </script>

    <style>
        .ui-grid-row .ui-grid-cell.featured {
            background: #A8C5ED;
        !important;
        }

        .ui-grid, .grid {
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock javascripts %}


{% block content %}

    {% include 'NumaDOAAdminBundle::flashmsg.html.twig' %}

    <div class="box">
    <div class="box-header">
        <div class="box-header">
            <h3 class="box-title">Archived Inventory list</h3>

            <div class="box-tools">
            </div>
        </div>
    </div>

    <div class="box-body table-responsive no-padding" ng-app="app">
        <div ng-controller="MainCtrl">
            <script type="text/ng-template" id="myModalContent.html">
                <div ui-grid="row.entity.subGridOptions" style="height:150px;"></div>
            </script>
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">Please confirm</h3>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Are you sure you want to recover?</h4>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>

            <button type="button" class="btn btn-success" ng-click="setRecover()">Recover</button>

            <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-pinning class="grid"></div>
        </div>
    </div>
{% endblock %}