<div class="footer-wrapper">

    <div class="footer">

        <div class="bottom-menu">

            {{ displayComponent('footer-menu',"template","dealer") }}
        </div>

        <div class="bottom-logo">
            <a class="logo" href="{{ path("homepage") }}">
                {{ component.image(dealer.logoUrl, dealer.name, '', 'WesternBridge_logo') }}
            </a>
        </div>

        <div class="copyright">Copyright &copy; 2018 {{ dealer.name }}</div>

    </div>

</div>