
    {#<ul class="menu">#}
        {% set mainmenu = displayComponent('mainmenu',"template","dealer") %}
        {% if mainmenu != 'enter this value of component in DMS' %}
            {{ include(template_from_string(mainmenu)) }}
        {% endif %}
    {#</ul>#}
</div>