
<div class="mobile-menu">
    <ul class="menu">
        <li><span class="separator">Menu</span>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Used Vehicles</a></li>
                <li><a href="">Specials</a></li>
                <li><a href="">Financing</a></li>
                <li><a href="">Service</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </li>
    </ul>
</div>