{% extends 'NumaDOADMSBundle::layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}

    {% include 'NumaDOAAdminBundle::flashmsg.html.twig' %}
    <h1>Reminder edit</h1>
    <div class="nav-tabs-custom">
        <div class="tab-content">
            <div id="details" class="tab-pane active">
                {{ form(edit_form) }}


                <a href="{{ path('customer_edit', {'id': entity.customerId}) }}" class="btn btn-primary">
                    Back to the Customer edit
                </a>

            </div>
        </div>
    </div>

    <script>
        $('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: new Date()
        });
    </script>
{% endblock %}
