/*@import url("reset.css");*/

/* layout styles */
.theme{
    padding: 10px;
}
.theme h4{
    text-align: center;
    color: #000000;
}
.theme .themeLink{
    text-align: center;
}
.theme .themeLink a{
    color: #3333ff;
}
.themeactive{
    background-color: #737373;
}

.icon_tab{
    width: 42px;
    height: 42px;
    display: block;
    float: left;
}
.icon_vehicle, .icon_Vehicle , .icon_car{
    background: url('/images/icons/Car.png') no-repeat ;
}

.icon_Marine{
    background: url('/images/icons/Marine.png') no-repeat ;
}

.icon_Motorsport{
    background: url('/images/icons/Motosport.png') no-repeat ;
}
.icon_RVs{
    background: url('/images/icons/Rv.png') no-repeat ;
}
.icon_Ag{
    background: url('/images/icons/Ag.png') no-repeat ;
}
.tab_text {
    padding: 10px 0 0 5px;
    display: block;
    float: left;
}
.nav-tabs > li > a {
    height: 60px;
    outline: none;
}

.nav-tabs {
    border: none;
}
html
{
    height: 100%;
}
body
{
    width:100%;
    font-family:Arial, Helvetica;
    color: #666666;
    height: 100%;
}
.clear{
    clear:both;
}

/* --- for 2-column layout -- */
.leftmenu .colright
{
    float:left;
    width:200%;
    position:relative;
    left:205px;
    background:#fff;
}

.leftmenu .leftSectionWrap
{
    float:right;
    width:50%;
    position:relative;
    right:200px;
    padding-bottom:1em;
}

.leftmenu .mainContent
{
    margin:0 15px 0 220px;
    position:relative;
    right:100%;
    overflow: auto;
    border: 1px solid transparent; /* for IE7, otherwise .list4columns does not work correctly (#2313) */
}

.leftmenu .leftSection
{
    float:left;
    width:170px;
    position:relative;
    right:190px;
    padding: 5px 10px;
}

.leftMenu
{
    margin: 20px 0 0 0;
}
.leftMenu li
{
    margin: 0 -22px 0 4px;
    line-height: 25px;
}

.leftMenu a
{
    display: block;
    padding-left: 11px;
}
.leftMenu a,
.leftMenu a:active,
.leftMenu a:visited
{
    color: #444444;
    text-decoration: none;
}
.leftMenu a:hover
{
    text-decoration: underline;
}




.content-wrapper section ul {
    list-style-type: none;
}

.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
/*.sidebar{*/
    /*margin-left: 20px;*/
/*}*/
.sidebar a.list-group-item {

    padding-left: 40px;
}

nav .container {
    width: 100%;
    margin: 0px;
}

.images-action a {
    margin-right: 20px;
}

.thumbnail:hover {
    border: 1px solid #0000B2;
}

.nowrap{
    white-space: nowrap;
}

input[type="file"] {
    border: 1px solid #d2d6de;
    display: block;
    padding: 4px;
    width: 100%;
}

.well .ad-close{
    position: absolute;
    top: 10px;
    right: 10px;
}

.well .ad-edit{
    position: absolute;
    top: 10px;
    right: 30px;
}

#item-images .form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid {
    width: 100%;
    height: auto;
}

.image-angular{padding: 10px;}.image-angular2{padding: 10px 0px 0px 10px;}

.changeable {
    border-color: #aa3333;
}

.new-listing{
    padding: 10px;
}

.addfeature{
    margin: 20px;
}

.page-component {
    padding: 10px;
}

.page-component-row {
    padding: 10px;
}

.lightgray {
    background: #ECF0F5;
}

.darkgrey {
    background: #8c8c8c;
}

.itemsale{
    margin-bottom: 20px;
}

.saleStats .saleStatsForm{
    margin-bottom: 20px;
    margin-left: 20px
}

#loading-indicator {
    display: none;
//background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.loading_info i {
    left: 50%;
    margin: auto;
    position: fixed;
    top: 50%;
}