
a{
    cursor:pointer;
}

/*Gallery Container*/
.image-gallery{
  float: left;
  position:relative;  
  margin: 21px;
  width:500px;
  border-radius:20px;  
}
/*Sets Big Image style*/
.image-gallery .big-image{
  width:500px;
  height:260px;
  margin:0 auto;  
  position:relative;
}
.image-gallery .big-image img{
  opacity:0;
  position:absolute;left:0px;top:0px; 
  width:500px;
  margin:0 auto;
  transition: opacity 350ms;
  box-shadow:0 1px 20px 1px rgba(0,0,0,0.7);
}

/*Selected image display*/
.image-gallery .big-image img:target{opacity:1;}
/*on select image display none the default image*/
.image-gallery .big-image img:target ~ img#default{opacity:0;}

/*Show Default Image in first load*/
.image-gallery .big-image img#default{opacity:1;}


/***Button***/
.image-gallery .button{
  font-weight:bold;
  font-size:30px;
  display:inline-block;
  transform:scale(1,2);
  color:#222;
  padding:0 10px;   
}
.image-gallery .button:hover{
    text-decoration: none;
    /*background-color:#ccc;*/
    opacity: 0.1;
}
.image-gallery .prev{
    position:absolute; left:0; top:278px;
    margin-top: 33px;
}
.image-gallery .next{
    position:absolute; right:0; top:278px;
    margin-top: 33px;
}

/***move thumbs on click on buttons***/
.image-gallery .prev:hover ~ .thumbs  ul{
  transform:translateX(0%);
  transition:2s all;
}
.image-gallery  .next:hover ~ .thumbs  ul{
  transform:translateX(-90%);
  transition:9s all;  
}
  
/***thumbs***/
.image-gallery .thumbs{
  overflow:hidden; 
  white-space:nowrap; 
  margin: 45px;
  margin-bottom: 11px;
}
.image-gallery .thumbs ul{
  float:left; 
  transition:999999s all; 
  transform:translateX(0);
}
.image-gallery .thumbs li a:hover{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
                
.image-gallery .thumbs li{display:inline-block; margin-right:3px;}
.image-gallery .thumbs li a:hover{opacity:1;}
.image-gallery .thumbs li a{opacity:0.55;}
.image-gallery .thumbs li a:focus{opacity:1;}
.image-gallery .thumbs li img{width:128px;}


/*reset CSS*/
*{font-family:arial;}
ul,li{list-style:none;margin:0;padding:0;}
