@media only print
{
    .navbar, .header-background,.panel, .right-sidebar , .header-background-content{
        display:none;
    }

    .detailsContent .flexslider .slides img {
        max-height: 200px;
        width: auto;
        border: 1px solid red;
    }
    #carousel{
        
        display:none;
    }
}

@font-face {
    font-family: GOUDYSTO;
    src: url(GOUDYSTO.ttf);
}

.left {
    float: left;
}
form.search {
    float: right;
}

#searchform form .form-group {
    margin-bottom: 0px;
}

#searchform form .choice {
    /*padding: 0px;
    padding-right: 30px;*/
}

#searchform form .checkbox {
    margin-top: 10px;
    margin-bottom: 10px;   
}

.search-name {
    min-width: 100px;
    display: block;
    float: left;
}

.clear {
    clear: both;
}

.tab-content {
    padding: 20px;
}

.container {
    width: 1000px;
    padding: 0;
}
/* spoonbou says ... */

.searchResults{
    font-size: 12px;
}

.searchResults .saved-search{
    position: absolute;
    top: 30px;
    right: 0px;
    width: 280px;
}

.searchResults .saved-search a{
    margin-left: 10px;
}
ul.tmp{
    margin-left: 222px;
}
.listingsNumber{
    float: left;
}
.item-row {
    /*background: #CFDBC5;*/
    border: 1px solid #dddddd;
    margin-bottom: 20px;
}
.middle_details{
    float:left;
}
.middle_details h4{
    display: block;
    color: grey;
}
.middle_details ul{
    list-style: none;
    clear: both;
}
.middle_details ul a{
    color: olive;
}

.middle_details img {
    float: left;
    border: red solid 1px;
    display: block;
}
.shortDetails{
    width: 400px;
    float: left;
}

.main-details {
    float: right;
}
.titles-details {
    float: right;
}
.main-details ul li, .titles-details  ul li{
    width: 70px;
}

.right_details ul{
    list-style: none;
}

.right_details ul li{
    /*    display: inline;
        margin-left: 42px;*/
}


.clearFloat{
    clear: both;
}

/* Show Details */

.detailsContent{
    float: left;
}

.showAllPictures, .viewSlideShow{
    margin-left: 88px;
    float: left;
}

.standardFeatures li{
    font-size: 13px;
}
.detailsContent h4{
    clear: both;
}


#map{
    height: 400px;
    width: 600px;

}
.comments {
    font-size: 12px;

}
.comments p{
    display: inline;
}
.comments a{
    display: inline;
    text-decoration: underline;
}

.header-background {
    background: url('/images/background.jpg') 50% bottom no-repeat #ffffff;
    width: 100%;
    height: 165px;
    margin-bottom: -165px;
    padding: 0;
}

.header-background-content {
    background: url('/images/background.jpg') 50% bottom no-repeat #ffffff;
    width: 100%;
    height: 165px;
    padding: 0;
    margin-bottom: 15px;
}

.header-image {
    background: url("/images/heder_fox.png") no-repeat scroll 50% bottom;
    height: 165px;
    padding: 0;
    position: relative;
    width: 100%;
}
.header-error-image {
    background: url("/images/heder_car2.png") no-repeat scroll 50% bottom #ffffff;
    height: 165px;
    padding: 0;
    position: relative;
    width: 100%;
}


.header-logo{
    background: url('/images/XM105FM_LOGO.png') no-repeat;
    width: 170px;
    height: 101px;
    position: absolute;
    top: 20px;
    left: 445px;
}

.logo-text {
    font-family: GOUDYSTO;
    color: #ED7D31;
    font-size: 24px;
    position: absolute;
    left: 320px;
    top: 20px;
}

.somespace {
    padding-right: 100px;
    font-family: GOUDYSTO;

}

.navbar{
    margin-bottom: 0;
}
.navbar-default{
    margin-bottom: 0;
    border-left: none;
    border-right: none;
    border-top: none;
}

.techData .fieldCaption {
    width: 130px;
    font-weight: bold;
}

.techData{
    float: left;
    list-style: none;
    font-size: 13px;
}

div.searchResults div.picture-detail {
    float: left;
    padding: 10px;
    height: 130px;

}

.price {
    color: #e38d13;
    text-align: center;
}
.sort{
    margin-left: 20px;
}
.sort a{
    padding: 10px;
}

select#numberoflisting {
    margin-left: 10px;
    width: 70px;
}

a.imageLink {
    position: relative;
    display: block;
    text-align: center;
    left: -50%; 
    /*border: dotted red 1px;*/
    
    
}

div.imagebox {
    position: absolute;
    bottom: 0;  
    left: 50%;
    text-align: center;
    width: 100%;
}

div.imageouterbox {
    margin-bottom: 0px;
    text-align: center;
    min-height: 110px;
}


ul.righsidebar-block{
    margin-top: 20px;
}

div.youtube-video {
    margin: 20px 0 0 20px;
}

.navbar-default .navbar-nav > li > a {
    color: #777777;
    //border: 1px solid red;
    font-size: 90%
}
.hometab-text{
    width: 100%;
    text-align:center;
}

ul#myTab .form-group {
    margin-left:0px;
    border: 1px solid red;
}

.tab-content {
    padding:0;
    width: 606px;
}

.tab-content h3 {
    margin-bottom: 3px;
    margin-top: 3px;
}

.tab-content .leftimage{
    float:left;
}

.tab-content .rightimage{
    float:right;
}
.home-middle {
    padding-left: 24px;
}

.row .col-md-2 .panel .panel-body a {
    display: block;
    text-align: center;
}
.panel-body img {
    width: 100px;
}

/*gallery*/

a{
    cursor:pointer;
}

/*Gallery Container*/
.image-gallery{
  float: left;
  position:relative;  
  margin: 20px 0 0 0;
  width:500px;
  border-radius:20px;  
}
/*Sets Big Image style*/
.image-gallery .big-image{
  width:500px;
  height:260px;
  margin:0 auto;  
  position:relative;
}
.image-gallery .big-image img{
  opacity:0;
  position:absolute;left:0px;top:0px; 
  width:500px;
  margin:0 auto;
  transition: opacity 350ms;
  box-shadow:0 1px 20px 1px rgba(0,0,0,0.7);
}

/*Selected image display*/
.image-gallery .big-image img:target{opacity:1;}
/*on select image display none the default image*/
.image-gallery .big-image img:target ~ img#default{opacity:0;}

/*Show Default Image in first load*/
.image-gallery .big-image img#default{opacity:1;}


/***Button***/
.image-gallery .button{
  font-weight:bold;
  font-size:30px;
  display:inline-block;
  transform:scale(1,2);
  color:#222;
  padding:0 10px;   
}
.image-gallery .button:hover{
    text-decoration: none;
    /*background-color:#ccc;*/
    opacity: 0.1;
}
.image-gallery .prev{
    position:absolute; left:0; top:278px;
    margin-top: 33px;
}
.image-gallery .next{
    position:absolute; right:0; top:278px;
    margin-top: 33px;
}

/***move thumbs on click on buttons***/
.image-gallery .prev:hover ~ .thumbs  ul{
  transform:translateX(0%);
  transition:2s all;
}
.image-gallery  .next:hover ~ .thumbs  ul{
  transform:translateX(-90%);
  transition:9s all;  
}
  
/***thumbs***/
.image-gallery .thumbs{
  overflow:hidden; 
  white-space:nowrap; 
  margin: 45px;
  margin-bottom: 11px;
}
.image-gallery .thumbs ul{
  float:left; 
  transition:999999s all; 
  transform:translateX(0);
}
.image-gallery .thumbs li a:hover{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
                
.image-gallery .thumbs li{display:inline-block; margin-right:3px;}
.image-gallery .thumbs li a:hover{opacity:1;}
.image-gallery .thumbs li a{opacity:0.55;}
.image-gallery .thumbs li a:focus{opacity:1;}
.image-gallery .thumbs li img{width:128px;}


/*reset CSS*/
*{font-family:arial;}
ul,li{list-style:none;margin:0;padding:0;}

/*gallery*/
/*FOOTER*/
.footer {
    height: 125px;
    margin-top: 20px;
}
.footer-img {

}
.copyright{
    margin-left: 15px;
}
/*FOOTER*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #d3d3d3;
    color: #555555;
}

.navbar-default {
    border-width: medium medium 0;
}
.new-listing .row{
    margin-bottom: 20px;
}

.container {
    /*margin-top: 15px;*/
}

.container h2.section{
    margin-top: 0px;
}

.nav-tabs > li > a {
    background: none repeat scroll 0 0 #f1f1f1;
}

.panel .thumbnail {
    margin-bottom: 0;
}


.picture-detail .thumbnail {
    max-height: 110px;
    overflow: hidden;
}

.panel-body a {
    margin-bottom: 20px;
}

.badge {
    background-color: #F00;
}

.bx-wrapper, .flexslider {
    margin-bottom: 0;
}

div.detailsContent div.slideshow {
    width: 600px;
}
.icon_tab{
    width: 42px;
    height: 42px;
    display: block;
    float: left;
}
.icon_vehicle, .icon_Vehicle , .icon_car{
    background: url('/images/icons/Car.png') no-repeat ;
}

.icon_Marine{
    background: url('/images/icons/Marine.png') no-repeat ;
}

.icon_Motorsport{
    background: url('/images/icons/Motosport.png') no-repeat ;
}
.icon_RVs{
    background: url('/images/icons/Rv.png') no-repeat ;
}
.icon_Ag{
    background: url('/images/icons/Ag.png') no-repeat ;
}
.tab_text {
    padding: 10px 0 0 5px;
    display: block;
    float: left;
}
.nav-tabs > li > a {
    height: 60px;
    outline: none;
}

.nav-tabs {
    border: none;
}

.login-form a
{
    margin:0;
}
.login-form {
    
}
.login-form .panel{
    width: 300px;
    margin:0 auto;
}

a.dealer-coupon-link {
    white-space: nowrap;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 20px;
    display:block;
    color: #0000B2;
}
.dealer-name {
    font-weight: bold;
    white-space: nowrap;
}
.coupon-container {
    clear: both;
    float: left;
}
.coupon-container a{
    display: block;
}
.coupon-image {
    float: left;
    clear: both;
}

.coupon-description {
    float: left;
    margin-left: 10px;
}

/*h2.first{*/
    /*margin-top:0;*/

/*}*/

/*h2.dealer {*/
    /*border: 1px solid #ddddff;*/
    /*background: #f6f6f6;*/
    /*margin-bottom:0;*/
    /*padding-bottom: 10px;*/
/*}*/
/*div.dealer-content {*/
    /*/!*border: 1px solid #ddddff;*!/*/
    /*background: #f5f5f5;*/
/*}*/
/*dealers icons css sprite*/

.sprite { background: url('/images/dealers_icons2.png') no-repeat top left; width: 42px; height: 42px;display:block; float:left }
.sprite.used-car-and-truck-dealers { background-position: 0 0; }
.sprite.snowmobile-dealers { background-position: 0 -52px; }
.sprite.rv-dealers { background-position: 0 -104px; }
.sprite.quad-dealers { background-position: 0 -156px; }
.sprite.motor-cycle-dealers { background-position: 0 -208px; }
.sprite.marine-dealers { background-position: 0 -260px; }
.sprite.golf-cart-dealers { background-position: 0 -312px; }
.sprite.boat-repair { background-position: 0 -364px; }
.sprite.auto-wrecking { background-position: 0 -416px; }
.sprite.auto-repair-shops { background-position: 0 -468px; }
.sprite.auto-rentals { background-position: 0 -520px; }
.sprite.auto-parts { background-position: 0 -572px; }
.sprite.auto-insurance { background-position: 0 -624px; }
.sprite.auto-glass { background-position: 0 -676px; }
.sprite.auto-electric-service { background-position: 0 -728px; }
.sprite.auto-dealers {background-position: 0 -780px;  }
.sprite.auto-body-repair { background-position: 0 -832px; }
.sprite.auto-accessories { background-position: 0 -884px; }
.sprite.ag-dealers { background-position: 0 -936px; }
.sprite.ag-accessories { background-position: 0 -988px; }
.sprite.trailer-dealers { background-position: 0 -1040px; }
.dealer-category-title {
    float:left;
    display: block;

    margin: 10px 0 0 10px;
}

.grid-filter-input-query-from{
    min-width: 100px;
}

div.featured-carousel {
    margin: 20px 0 20px 0;
}

.fh-title{
    min-height: 40px;
    max-height: 40px;
}

div.carousel-text a {
    /*border: 1px solid red;*/
    color: #ffffff;
    text-shadow: 1px 1px black;

}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
h3.header-first{
    margin-top: 20px;
}
#carousel{
    margin-bottom: 20px;
}

.carousel-text {
    bottom: 20px;

    color: #fff;
    left: 15%;
    padding-bottom: 40px;
    padding-top: 20px;
    position: absolute;
    right: 15%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.carousel-text a{
    font-weight:bold;
}

.images-action a {
    margin-right: 20px;
}
#listing-content {
    position: relative;
}
.page_ads {

    width: 130px;

    position: absolute;
    right: -160px;
    top: 0px;
}

.right-side-ad{
    border:1px solid red;
    height: 130px;
    width: 130px;
    display: block;
}

iframe body{
    padding: 0;
    margin: 0;
}

.box{
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.description-block > .description-header {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
#item-images .form-control{
    margin-top: 10px;
    margin-bottom: 10px;
}

.youtube_play{
    background: url('/images/YouTube-icon-dark.png') 50% bottom no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 150px;
    left: 250px;
}

.search-item-logo{
    text-align: right;
    padding: 10px;
}

.search-item-logo{
    max-width: 200px;
}