form.search {
    float: right;
}

#searchform form .form-group {
    margin-bottom: 0px;
}

#searchform form .choice {
    /*padding: 0px;
    padding-right: 30px;*/
}

#searchform form .checkbox {
    margin-top: 10px;
    margin-bottom: 10px;   
}

.clear {
    clear: both;
}

.tab-content {
    padding: 20px;
}


/* spoonbou says ... */

.searchResults{
    font-size: 12px;
}
.searchResults p{
    display: inline;
    margin-left: 73px;
}
ul.tmp{
    margin-left: 222px;
}
.listingsNumber{
    max-width: 73px;
}
.middle_details{
    background: #CFDBC5;
    margin-left: 21px;
}
.middle_details h4{
    float: left;
    margin: 21px;
    color: grey;
}
.middle_details ul{
    list-style: none;
    clear: both;
}
.middle_details ul a{
    color: olive;
}
.shortDetails{
    margin-left: 42px;
}

.right_details ul{
    list-style: none;
}

.right_details ul li{
    display: inline;
    margin-left: 42px;
}


/* Show Details */

.detailsContent{
    margin-left: 42px;
    margin-bottom: 73px;
    float: left;
}

.galleryBox {
    margin-left: 21px;
    margin-bottom: 50px;
    float: left;
}
.galleryBox a{
    margin-top: 21px;
    margin-left: 42px;
}
#picture{
    margin-bottom: 7px;
    width: 348px;
    height: 227px;
    box-shadow: none;
 }
.pictureThumbs img{
    margin-right: 10px;
    float: left;
    width: 80px;
    height: 54px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0.4;
    /* For IE8 and earlier */
    filter: alpha(opacity=40);
 }
.pictureThumbs img:hover{
    opacity: 1.0;
    /* For IE8 and earlier */
    filter: alpha(opacity=100);
}

.techData{
    max-width: 222px;
    float: left;
    list-style: none;
    font-size: 13px;
}
.standardFeatures li{
    font-size: 13px;
}
.detailsContent h4{
    clear: both;
}


#map{
    height: 400px;
    margin-left: 20px;
    padding-left: 20px;
}
.comments {
    font-size: 12px;
    
}
.comments p{
    display: inline;
}
.comments a{
    display: inline;
    text-decoration: underline;
}