form.search {
    float: right;
}

#searchform form .form-group {
    margin-bottom: 0px;
}

#searchform form .choice {
    /*padding: 0px;
    padding-right: 30px;*/
}

#searchform form .checkbox {
    margin-top: 10px;
    margin-bottom: 10px;   
}

.clear {
    clear: both;
}

.tab-content {
    padding: 20px;
}


/* spoonbou says ... */

.searchResults{
    font-size: 12px;
}
.searchResults p{
    display: inline;
    margin-left: 73px;
}
ul.tmp{
    margin-left: 222px;
}
.listingsNumber{
    max-width: 73px;
}
.middle_details{
    background: #CFDBC5;
    margin-left: 21px;
}
.middle_details h4{
    float: left;
    margin: 21px;
    color: grey;
}
.middle_details ul{
    list-style: none;
    clear: both;
}
.middle_details ul a{
    color: olive;
}
.itemdetailtitle{
    
}

.shortDetails{
    margin-left: 42px;
}

.right_details ul{
    list-style: none;
}

.right_details ul li{
    display: inline;
    margin-left: 42px;
}
