{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}
{% block content %}
<!-- Nav tabs -->
<h2>Search by body style</h2>
<ul class="nav nav-tabs" id="myTab">
    {% for key,cat in categories %}
        <li><a href="#home_{{cat.name|replace(" ","_")}}" data-toggle="tab">{{cat.name}}</a></li>
                {%endfor%}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
                            {% for key,cat in categories %}

                <div class="tab-pane {% if loop.first %}active{% endif %}" id="home_{{cat.name|replace(" ","_")}}">
                    {{cat.name}}
                    </div>
                {%endfor%}
                    <div class="tab-pane" id="profile">asdasd</div>
                    <div class="tab-pane" id="messages">xcvxvc</div>
                    <div class="tab-pane" id="settings">xcvxcv.</div>
                </div>
                <h2>Search by category</h2>
                <ul class="nav nav-tabs" id="myTab">
                    <li><a href="#home" data-toggle="tab">Home</a></li>
                    <li><a href="#profile" data-toggle="tab">Profile</a></li>
                    <li><a href="#messages" data-toggle="tab">Messages</a></li>
                    <li><a href="#settings" data-toggle="tab">Settings</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home">qweqwe</div>
                    <div class="tab-pane" id="profile">asdasd</div>
                    <div class="tab-pane" id="messages">xcvxvc</div>
                    <div class="tab-pane" id="settings">xcvxcv.</div>
                </div>
{% endblock %}

