{% extends 'NumaDOAAdminBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    <h1>Setting creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('setting') }}" class="btn btn-default" >
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
