{% extends app.request.get('_dashboard')=='DMS'
? 'NumaDOADMSBundle::layout.html.twig'
: 'NumaDOAAdminBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    <div class="box box-default">
        <h1>Setting creation</h1>

        {{ form(form) }}

        <ul class="record_actions">
            <li>
                {% if(app.request.get('_dashboard')=='DMS') %}
                    <a href="{{ path('dms_setting') }}" class="btn btn-default">
                        Back to the list
                    </a>
                {% else %}
                    <a href="{{ path('setting') }}" class="btn btn-default">
                        Back to the list
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}
