{% import "NumaDOASiteBundle::components.html.twig" as component %}

{% if image is not empty %}
<li class="">
    <a href=" {% if image is not empty and image.url is  defined %}{{ image.url }}{% else %}#{% endif %}"
       class="">
        {% if image is not empty and image is not empty and image.src is defined %}

            {% if "upload/dealers" in image.src %}
                {{ component.image(image.src, '', 'rvsuper_button', 'rvsuper_button') }}
            {% else %}
                {{ component.image("/upload/dealers/"~image.src, '', 'rvsuper_button', 'rvsuper_button') }}
            {% endif %}
        {% endif %}
        <div class="button-title">{{ image.title }}</div>
    </a>
</li>
{% endif %}