<html>
<head />
<body style="margin: 0; padding: 0;">
<embed src="data:{{media.mimetype}};base64,{{media.content}}" type="{{media.mimetype}}" name="{{media.name}}" width="100%" height="100%">
</body>
</html>