{% extends app.request.get('_dashboard')=='DMS'
? 'NumaDOADMSBundle::layout.html.twig'
: 'NumaDOAAdminBundle::layout.html.twig' %}
 
{% block content %}
    <h1>Importmapping edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            {% if(app.request.get('_dashboard')=='DMS') %}
                <a href="{{ path('dms_import_mapping') }}">
                    Back to the list
                </a>
            {% else %}
                <a href="{{ path('import_mapping') }}">
                    Back to the list
                </a>
            {% endif %}
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
