
{% extends 'NumaDOAAdminBundle::layout.html.twig' %}

{% block content %}
    <p>{{items|length}} Items fetched</p>
    <a href="{{path("importfeed")}}">Back to the feed list</a>
    {% for key,item in items %}
        {{dump(item)}}        
    {% endfor %}
{% endblock %}