{% extends app.request.get('_dashboard')=='DMS'
? 'NumaDOADMSBundle::layout.html.twig'
: 'NumaDOAAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Importmapping creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('import_mapping') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
