{% set liclass="col-md-6 col-xs-6 col-sm-6 col-lg-6" %}

    {% if item.getLength() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Length (ft): </span>
            <span class="fieldValue fieldValue-status">{{ item.getLength() }}</span>
        </li>
    {% endif %}

    {% if item.getExteriorColor() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Exterior Color: </span>
            <span class="fieldValue fieldValue-status">{{ item.getExteriorColor() }}</span>
        </li>
    {% endif %}

