{% set liclass="col-md-12 col-xs-12 col-sm-12 col-lg-12" %}

    {% if item.getLength() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Length (ft): </span>
            <span class="fieldValue fieldValue-status">{{ item.getLength() }}</span>
        </li>
    {% endif %}

    {% if item.getExteriorColor() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Exterior Color: </span>
            <span class="fieldValue fieldValue-status">{{ item.getExteriorColor() }}</span>
        </li>
    {% endif %}

