#dms_user_api:
#    type: rest
#    resource: Numa/DOADMSBundle/Controller/DMSUserRESTController
#    defaults: {_format: json}
ads_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/ad.yml"
        prefix:   /ads
customer_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/customer.yml"
        prefix:   /customer
vendor_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/vendor.yml"
        prefix:   /vendor
user_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/user.yml"
        prefix:   /user
dmsuser_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/dmsuser.yml"
        prefix:   /dmsuser
note_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/note.yml"
        prefix:   /note
billing_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/billing.yml"
        prefix:   /billing
part_request_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/part_request.yml"
        prefix:   /part_request
service_request_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/service_request.yml"
        prefix:   /service_request
stats_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/stats.yml"
        prefix:   /stats
ga_stats_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/ga_stats.yml"
        prefix:   /gastats
page_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/page.yml"
        prefix:   /page
component_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/component.yml"
        prefix:   /component
listing_form_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/listing_form.yml"
        prefix:   /listing_form
decode_vin_api:
        resource: "@NumaDOAApiBundle/Resources/config/routing/decode_vin.yml"
        prefix:   /decode_vin
listing:
    path:  /listing/{id}.{_format}
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:listing",_format: "xml"}
    requirements: { _method: get }

listingByDealer:
    path:  /listings/{dealerid}/dealer.{_format}
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:listingsByDealer",_format: "xml"}
    requirements: { _method: get }
listingByDealerGroup:
    path:  /listings/{dealer_group_id}/dealergroup.{_format}
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:listingsByDealerGroup2",_format: "xml"}
    requirements: { _method: get }
listingByDealerUsername:
    path:  /listings/{dealerid}/dealer.{_format}
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:listingsByDealerUsername",_format: "xml"}
    requirements: { _method: get }

listingsAll:
    pattern:  /listings/{category}/category.{_format}
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:listingsAll",_format: "xml"}
    requirements: { _method: get }

listingsAll:
    path:  /listings/{category}/category.{_format}
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:listingsAll",_format: "xml"}
    requirements: { _method: get }

listingByDealer2:
    path:  /listings2/{dealerid}/dealer.{_format}
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:listingsByDealer2",_format: "xml"}
    requirements: { _method: get }

listing2:
    path:  /listing2/{id}.{_format}
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:listing2",_format: "xml"}
    requirements: { _method: get }

listings2All:
    pattern:  /listings/all.{_format}
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:allListings",_format: "xml"}
    requirements: { _method: get }

listingsByUniques:
    pattern:  /listings/{id}/uniques.{_format}
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:listingByUniques",_format: "xml"}
    requirements: { _method: get }

listing_add_feature:
    pattern:  /listings/addfeature
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:addFeature"}
    requirements: { _method: post }
dealer_component_api:
    resource: "@NumaDOAApiBundle/Resources/config/routing/dealer_component.yml"
    prefix:   /dealer_component
finance_api:
    resource: "@NumaDOAApiBundle/Resources/config/routing/finance.yml"
    prefix:   /finance
finance_service_api:
    resource: "@NumaDOAApiBundle/Resources/config/routing/finance_service.yml"
    prefix:   /finance_service
leasing_api:
    resource: "@NumaDOAApiBundle/Resources/config/routing/leasing.yml"
    prefix:   /leasing
support_form_api:
    resource: "@NumaDOAApiBundle/Resources/config/routing/support_form.yml"
    prefix:   /support_form
archivedListingsAll:
    pattern:  /archived_listings/all.{_format}
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:allArchivedListings",_format: "xml"}
    requirements: { _method: get }
archivedListingsByDealer:
    pattern:  /archived_listings/{dealerid}/dealer.{_format}
    defaults: { _controller: "NumaDOAApiBundle:ItemREST:allArchivedListingsByDealer",_format: "xml"}
    requirements: { _method: get }
