{% extends 'NumaDOASiteBundle::listing-layout.html.twig' %}
{% block content %}
    <div class="alert alert-success">{{ message }}</div>
    <a href="{{ path('finance_service_form') }}" class="btn btn-default" >
        Back to the finance service form
    </a>
{% endblock %}