{% extends 'NumaDOASiteBundle::listing-layout.html.twig' %}
{% form_theme driveForm with ['bootstrap_3_horizontal_layout.html.twig',_self] %}
{% form_theme epriceForm with ['bootstrap_3_horizontal_layout.html.twig',_self] %}
{% form_theme financeForm with ['bootstrap_3_horizontal_layout.html.twig',_self] %}
{% form_theme contactForm with ['bootstrap_3_horizontal_layout.html.twig',_self] %}
{% form_theme offerForm with ['bootstrap_3_horizontal_layout.html.twig',_self] %}
{% form_theme offerTradeInForm with ['bootstrap_3_horizontal_layout.html.twig'] %}
{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block form_label_class -%}
    col-sm-3
{%- endblock form_label_class %}
{% block form_group_class -%}
    col-sm-9
{%- endblock form_group_class %}
{% block javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}

    <div class="detailsContent">
        {% include "@NumaDOAAdmin/flashmsg.html.twig" %}

        <div class="row">
            <div class="col-md-12">
                {% include "NumaDOASiteBundle:TemplatesElements:title.html.twig" %}
            </div>
        </div>
        <div class="row">
            <div class="left col-md-6">

                {% include "@NumaDOASite/TemplatesElements/price.html.twig" %}
                {% include "@NumaDOASite/TemplatesElements/vehicleSmallDetails.html.twig" %}
                <div class="row">
                    <div class="col-md-4 col-xs-4 button">
                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                data-target="#offerTradeIn">
                            Offer Trade In
                        </button>
                    </div>
                    <div class="col-md-4 col-xs-4  button">
                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                data-target="#offer">
                            Make an Offer
                        </button>
                    </div>
                    <div class="col-md-4 col-xs-4  button">
                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                data-target="#testdrive">
                            Test Drive
                        </button>
                    </div>
                </div>

                <div class="row shared">
                    {% include "@NumaDOASite/TemplatesElements/share.html.twig" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    {% include "@NumaDOASite/TemplatesElements/imageSlideshow.html.twig" %}
                </div>

            </div>
        </div>
    </div>


    {% include "@NumaDOASite/TemplatesElements/vehicleDescription.html.twig" %}
    {% include "@NumaDOASite/TemplatesElements/vehicleDetails.html.twig" %}

    {% include "@NumaDOASite/TemplatesElements/vehicleFeatures.html.twig" %}
    {% include "@NumaDOASite/TemplatesElements/video.html.twig" %}

    <div class="dealer-info">
        <div class="col-md-6  col-xs-6">
            <ul class="list-unstyled">
                <li>
                    <a href="#"><i class="fa fa-user"></i> Exclusive Auto Marine</a>
                </li>
                <li>
                    <a href="mailto:sales@test.com"><i class="fa fa-envelope"></i>sales@exclusiveautomarine.com</a>
                </li>
                <li>
                    <a href="tel:8887634900"><i class="fa fa-phone"></i>888-763-4900</a>
                </li>
                <li>
                    <div class="adr">
                        <div class="street-address">
                            <i class="fa fa-map-marker-alt "></i>550 15th Street East
                        </div>
                        <span class="locality">Prince Albert</span>, <span class="region">SK</span>
                        <span class="postal-code">S6V 1G2</span>
                    </div>
                </li>
                <li>
                    <div class="map-link">
                        <div class="location map-link">See map: <a
                                    href="http://maps.google.ca?q=550+15th+Street+East%2C+Prince+Albert%2C+SK%2C+S6V+1G2%2C+ca"
                                    target="_blank">Google Maps</a></div>
                    </div>
                </li>
                <li>
                    <a href="http://www.exclusiveautomarine.com" target="_blank"><i class="fa fa-edit"></i> http://www.exclusiveautomarine.com</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-xs-6">
            <img typeof="foaf:Image"
                 src="https://classifieds.panow.com/sites/default/files/styles/dealer_logo/public/user-photo/EAM%20Logo.JPG?itok=sCWDlUl5"
                 alt="" width="367" height="110"></a>
        </div>

    </div>


    <div class="disclaimer">
        {{ displayComponent('details_disclaimer','html','page','bridge') }}
    </div>
    </div>
    <!-- Button trigger modal -->
    {{ include("NumaDOASiteBundle:ListingForms:listingForms.html.twig") }}
    <script>
        $(".saveAd").on("click", function () {
            var itemId = $(this).data("itemid");
            console.log(itemId);
            var act = "add";
            if (!$(this).prop('checked')) {
                act = "remove";
            }
            var jqxhr = $.post("{{ path('item_savead') }}", {
                itemid: itemId,
                act: act
            }, function (data) {
                htmlx = "";
                if (data.savedAds > 0) {
                    htmlx = "(" + data.savedAds + ")";
                }
                $('.savedAds').html(htmlx);
            })

        });
        $(".compareAd").on("click", function () {
            var itemId = $(this).data("itemid");
            var url = $(this).data("url");

            var act = "add";
            if (!$(this).prop('checked')) {
                act = "remove";
            }
            var jqxhr = $.post(url, {itemid: itemId, act: act}, function (data) {
                htmlx = "";
                if (data.comparedItes > 0) {
                    htmlx = "(" + data.comparedItes + ")";
                }
                $('.savedAds').html(htmlx);
            })

        });
    </script>
{% endblock %}
