<a class="right-side-ad"  href="{{ ad.url }}">
    <div class="ad-title">{{ ad.title }}</div>
    <div class="ad-body">{{ ad.body }}</div>
    <img src="{{ ad.photo|imagine_filter('ad_130x130') }}"/>
</a>