* {
    margin: 0;
    padding: 0;
}

html { height: 100%; }

body {
    font: 300 16px 'Roboto', sans-serif;
    min-height: 100%;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

h1 {
    font: 48px 'Oswald', sans-serif;
    text-transform: uppercase;
}

h2 { font: 30px 'Oswald', sans-serif; }

h3 {
    font: 36px 'Oswald', sans-serif;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

p {
    line-height: 1.5em;
    margin: 1em 0;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header-wrapper {
    background-color: #fff;
    position: relative;
    z-index: 200;
}

.logo {
    display: block;
    float: left;
    margin: 17px 40px;
}

.logo img { max-width: 100%; }

.contact-info {
    display: flex;
    flex-flow: row nowrap;
    float: right;
    font: 18px 'Oswald', sans-serif;
    margin: 14px 15px 0 15px;
}

.contact-info div { margin: 0 25px; }

.contact-info div:before {
    margin-right: 10px;
    vertical-align: bottom;
}

.ion-clock:before { font-size: 21px; }

.ion-ios-home:before { font-size: 24px; }

.ion-android-call:before { font-size: 24px; }

.ion-ios-email:before { font-size: 26px; }

.main-menu {
    clear: right;
    float: right;
    margin: 0 15px;
}

.main-menu .menu {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

.main-menu a {
    color: #000;
    display: block;
    text-decoration: none;
}

.main-menu .menu > li > a {
    font: 24px 'Oswald', sans-serif;
    padding: 37px 25px;
}

.main-menu .menu > li:hover > ul { display: block; }

.main-menu .menu ul {
    background-color: rgba(255,255,255,0.8);
    display: none;
    list-style: none;
    position: absolute;
}

.main-menu .menu ul li a {
    color: #fff;
    background-color: #3076A1;
}

.main-menu .menu ul li a:hover {
    color: #fff;
    background-color: #072C42;
}

.main-menu .menu ul a { padding: 10px 10px; }

.main-menu .menu ul a:hover { background-color: #fff; }

/* ==========================================================================
   Mobile Menu
   ========================================================================== */

.mobile-menu {
    background-color: #377aa3;
    clear: both;
    display: none;
}

.mobile-menu ul {
    font-size: 16px;
    line-height: 22px;
    list-style: none;
}

.mobile-menu .menu a,
.mobile-menu .menu .separator {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 19px 20px;
}

.mobile-menu .menu li { border-top: 1px solid #74b0d6; }

.mobile-menu .menu > li:first-child { border-top: none; }

.mobile-menu .menu > li > .separator {
    background: url("images/mobile-menu-icon.png") 20px center no-repeat;
    padding-left: 70px;
}

/* ==========================================================================
   Banner
   ========================================================================== */

.banner img { max-width: 100%; }

.banner-text {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    transform: translateY(-50%);
    z-index: 100;
}

.banner-image {
    position: relative;
    z-index: 0;
}

.banner form { margin-top: 20px; }

.banner input[type=text] {
    border: none;
    font-size: 24px;
    padding: 6px 10px;
    vertical-align: middle;
}

.banner input[type=submit] {
    background-color: #377aa3;
    border: none;
    color: #fff;
    font: 20px 'Oswald', sans-serif;
    margin-left: 10px;
    padding: 5px 30px;
    text-transform: uppercase;
    vertical-align: middle;
}

/* ==========================================================================
   Section 1
   ========================================================================== */

.section1 {
    display: flex;
    flex-flow: row nowrap;
    margin: 60px auto;
    max-width: 1420px;
    padding: 0 20px;
}

.section {
    flex: 1 1 0;
    margin: 0 10px;
    text-align: center;
}

.section1 img { max-width: 100%;min-height: 150px; }

.section1 .button {
    background-color: #377aa3;
    color: #fff;
    display: inline-block;
    font: 20px 'Oswald', sans-serif;
    margin-top: 20px;
    padding: 5px 10px;
    text-transform: uppercase;
}

/* ==========================================================================
   Section 2
   ========================================================================== */

.section2-wrapper {
    background: url("images/bg.jpg") center center no-repeat;
    background-size: cover;
}

.section2 {
    color: #fff;
    margin: 0 auto;
    max-width: 1400px;
    padding: 60px 20px;
    text-align: right;
}

.section2 h3 {
    margin-left: 50%;
    max-width: 50%;
}

.section2 p {
    font-size: 24px;
    margin-left: 50%;
    max-width: 50%;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content {
    margin: 60px auto;
    max-width: 1400px;
    padding: 0 20px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer-wrapper { background-color: #222324; }

.footer {
    color: #ccc;
    margin: 0 auto;
    max-width: 1400px;
    padding: 40px 20px;
    text-align: center;
}

.bottom-menu .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 20px;
}

.bottom-menu li { margin: 0 10px; }

.bottom-menu a {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
}

.bottom-logo { margin-bottom: 20px; }

.bottom-logo img {
    max-width: 100%;
    width: 400px;
}

.btn-bridge-blue {
    background-color: #72bded;
    color: #fff;
    width: 100%;
}

.btn-success {
    background-color: #062c54;
    border: 1px solid #062c54;
}

.btn-success:hover {
    background-color: #222c54;
    border: 1px solid #222c54;
}

.btn-warning {
    background-color: #6A6C6E;
    border: 1px solid #6A6C6E;
}

.btn-warning:hover {
    background-color: #6A6C6E;
    border: 1px solid #6A6C6E;
}

@media only screen
and (max-width : 1399px) {

    .logo {
        float: none;
        text-align: center;
    }

    .contact-info,
    .main-menu { float: none; }

    .contact-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-menu .menu {
        justify-content: center;
    }

}

@media only screen
and (max-width : 1023px) {

    h1 { font-size: 36px; }

    h2 { font-size: 24px; }

    h3 { font-size: 30px; }

    .main-menu > .menu > li > a { padding: 20px 15px; }

    .section2 p { font-size: 18px; }

}

@media only screen
and (max-width : 767px) {

    .main-menu { display: none; }

    .mobile-menu { display: block; }

    .banner-text { display: none; }

    .contact-info {
        font-size: 14px;
        padding-bottom: 15px;
    }

    .section1 { flex-wrap: wrap; }

    .section {
        flex-basis: 45%;
        margin-bottom: 20px;
    }

    .bottom-menu { display: none; }

    .section2 h3 {
        margin-left: 0;
        max-width: none;
    }

    .section2 p {
        margin-left: 0;
        max-width: none;
    }

}