* {
    margin: 0;
    padding: 0;
}

html { height: 100%; }

body {
    font: 300 16px 'Roboto', sans-serif;
    min-height: 100%;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

h1 {
    font: 48px 'Oswald', sans-serif;
    text-transform: uppercase;
}

h2 { font: 30px 'Oswald', sans-serif; }

h3 {
    font: 36px 'Oswald', sans-serif;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

p {
    line-height: 1.5em;
    margin: 1em 0;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header-wrapper {
    background-color: #fff;
    position: relative;
    z-index: 200;
}

.logo {
    display: block;
    float: left;
    margin: 17px 40px;
}

.logo img { max-width: 100%; }

.contact-info {
    display: flex;
    flex-flow: row nowrap;
    float: right;
    font: 18px 'Oswald', sans-serif;
    margin: 14px 15px 0 15px;
}

.contact-info div { margin: 0 25px; }

.contact-info div:before {
    margin-right: 10px;
    vertical-align: bottom;
}

.ion-clock:before { font-size: 21px; }

.ion-ios-home:before { font-size: 24px; }

.ion-android-call:before { font-size: 24px; }

.ion-ios-email:before { font-size: 26px; }

.main-menu {
    clear: right;
    float: right;
    margin: 0 15px;
}

.main-menu .menu {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

.main-menu a {
    color: #000;
    display: block;
    text-decoration: none;
}

.main-menu .menu > li > a {
    font: 24px 'Oswald', sans-serif;
    padding: 37px 25px;
}

.main-menu .menu > li:hover > ul { display: block; }

.main-menu .menu ul {
    background-color: rgba(255,255,255,0.8);
    display: none;
    list-style: none;
    padding: 10px;
    position: absolute;
}

.main-menu .menu ul a { padding: 2px 5px; }

.main-menu .menu ul a:hover { background-color: #fff; }

/* ==========================================================================
   Mobile Menu
   ========================================================================== */

.mobile-menu {
    background-color: #377aa3;
    clear: both;
    display: none;
}

.mobile-menu ul {
    font-size: 16px;
    line-height: 22px;
    list-style: none;
}

.mobile-menu .menu a,
.mobile-menu .menu .separator {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 19px 20px;
}

.mobile-menu .menu li { border-top: 1px solid #74b0d6; }

.mobile-menu .menu > li:first-child { border-top: none; }

.mobile-menu .menu > li > .separator {
    background: url("../images/mobile-menu-icon.png") 20px center no-repeat;
    padding-left: 70px;
}

/* ==========================================================================
   Banner
   ========================================================================== */

.banner img { max-width: 100%; }

.banner-text {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    transform: translateY(-50%);
    z-index: 100;
}

.banner-image {
    position: relative;
    z-index: 0;
}

.banner form { margin-top: 20px; }

.banner input[type=text] {
    border: none;
    font-size: 24px;
    padding: 6px 10px;
    vertical-align: middle;
}

.banner input[type=submit] {
    background-color: #377aa3;
    border: none;
    color: #fff;
    font: 20px 'Oswald', sans-serif;
    margin-left: 10px;
    padding: 5px 30px;
    text-transform: uppercase;
    vertical-align: middle;
}

/* ==========================================================================
   Section 1
   ========================================================================== */

.section1 {
    display: flex;
    flex-flow: row nowrap;
    margin: 60px auto;
    max-width: 1420px;
    padding: 0 20px;
}

.section {
    flex: 1 1 0;
    margin: 0 10px;
    text-align: center;
}

.section1 img { max-width: 100%; }

.section1 .button {
    background-color: #377aa3;
    color: #fff;
    display: inline-block;
    font: 20px 'Oswald', sans-serif;
    margin-top: 20px;
    padding: 5px 10px;
    text-transform: uppercase;
}

/* ==========================================================================
   Section 2
   ========================================================================== */

.section2-wrapper {
    background: url("../images/bg.jpg") center center no-repeat;
    background-size: cover;
}

.section2 {
    color: #fff;
    margin: 0 auto;
    max-width: 1400px;
    padding: 60px 20px;
    text-align: right;
}

.section2 h3 {
    margin-left: 50%;
    max-width: 50%;
}

.section2 p {
    font-size: 24px;
    margin-left: 50%;
    max-width: 50%;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content {
    margin: 60px auto;
    max-width: 1400px;
    padding: 0 20px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer-wrapper { background-color: #222324; }

.footer {
    color: #ccc;
    margin: 0 auto;
    max-width: 1400px;
    padding: 40px 20px;
    text-align: center;
}

.bottom-menu .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 20px;
}

.bottom-menu li { margin: 0 10px; }

.bottom-menu a {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
}

.bottom-logo { margin-bottom: 20px; }

.bottom-logo img {
    max-width: 100%;
    width: 400px;
}

@media only screen
and (max-width : 1399px) {

    .logo {
        float: none;
        text-align: center;
    }

    .contact-info,
    .main-menu { float: none; }

    .contact-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-menu .menu {
        justify-content: center;
    }

}

@media only screen
and (max-width : 1023px) {

    h1 { font-size: 36px; }

    h2 { font-size: 24px; }

    h3 { font-size: 30px; }

    .main-menu > .menu > li > a { padding: 20px 15px; }

    .section2 p { font-size: 18px; }

}

@media only screen
and (max-width : 767px) {

    .main-menu { display: none; }

    .mobile-menu { display: block; }

    .banner-text { display: none; }

    .contact-info {
        font-size: 14px;
        padding-bottom: 15px;
    }

    .section1 { flex-wrap: wrap; }

    .section {
        flex-basis: 45%;
        margin-bottom: 20px;
    }

    .bottom-menu { display: none; }

    .section2 h3 {
        margin-left: 0;
        max-width: none;
    }

    .section2 p {
        margin-left: 0;
        max-width: none;
    }

}

@font-face { font-family: "Ionicons"; src: url("../fonts/ionicons.eot?v=2.0.0"); src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal; }

* {
    margin: 0;
    padding: 0;
}

html { height: 100%; }

body {
    background-color: #fff;
    box-sizing: border-box;
    font: 300 16px 'Roboto', sans-serif;
    min-height: 100%;
    padding-bottom: 153px;
    position: relative;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header-wrapper { background-color: #d6d9e1; }

.header {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px 20px;
}

.logo {
    display: block;
    float: left;
}

.logo img { max-width: 100%; }

.header .search-wrapper {
    clear: right;
    float: right;
    margin-bottom: 10px;
}

.header .search-wrapper .inputbox {
    border: none;
    padding: 9px;
}

.header .search-wrapper .button {
    background: #78b53c url("../images/search-icon.png") center center no-repeat;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 33px;
    width: 40px;
}

/* ==========================================================================
   Top Menu
   ========================================================================== */

.top-menu {
    float: right;
    margin: 10px 0 15px 0;
}

.top-menu ul { display: table; }

.top-menu li {
    border-left: 1px solid #a5a7ae;
    display: table-cell;
    padding: 0 8px;
}

.top-menu li:first-child { border-left: none; }

.top-menu a {
    color: #4b4d51;
    display: block;
    font: 300 14px 'Roboto Condensed', sans-serif;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.top-menu a:hover { color: #1b1c1f; }

/* ==========================================================================
   Main Menu
   ========================================================================== */

.main-menu-wrapper {
    background-color: #183571;
    position: relative;
    z-index: 200;
}

.main-menu {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.main-menu a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.main-menu a:hover { color: #dfe2e9; }

.main-menu .menu {
    display: flex;
    justify-content: space-between;
}

.main-menu .menu > li { display: inline-block; }

.main-menu .menu > li > a {
    font: 300 16px 'Oswald', sans-serif;
    line-height: 19px;
    padding: 10px 0 11px 0;
    text-transform: uppercase;
}

.main-menu .menu > li:hover > ul { display: block; }

.main-menu .menu > li:hover > a { color: #dfe2e9; }

.main-menu .menu ul {
    background-color: rgba(24,53,113,0.8);
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    display: none;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    padding: 15px 30px;
    position: absolute;
}

.main-menu .menu .col2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.main-menu .menu .col3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.main-menu .menu .col4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}

.main-menu .menu ul li {
    border-top: 1px solid #63779e;
    white-space: nowrap;
}

.main-menu .menu ul a { padding: 10px 0; }

.main-menu .menu ul li.top { border-top: none; }

/* ==========================================================================
   Mobile Menu
   ========================================================================== */

.mobile-menu {
    background-color: #183571;
    clear: both;
    display: none;
}

.mobile-menu ul {
    font-size: 16px;
    line-height: 22px;
    list-style: none;
}

.mobile-menu .menu a,
.mobile-menu .menu .separator {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 19px 20px;
}

.mobile-menu .menu li { border-top: 1px solid #63779e; }

.mobile-menu .menu > li:first-child { border-top: none; }

.mobile-menu .menu > li > .separator {
    background: url("../images/mobile-menu-icon.png") 20px center no-repeat;
    padding-left: 70px;
}

/* ==========================================================================
   Banner
   ========================================================================== */

.banner {
    position: relative;
    z-index: 0;
}

.banner img { max-width: 100%; }

/* ==========================================================================
   Buttons
   ========================================================================== */

.buttons-wrapper {
    background-color: #fff;
    border-spacing: 20px;
    box-sizing: border-box;
    display: table;
    max-width: 1200px;
    margin: -195px auto -30px auto;
    padding: 10px;
    position: relative;
    table-layout: fixed;
    width: 100%;
    z-index: 100;
}

.button { display: table-cell; }

.button-image { display: block; }

.button-image img { width: 100%; }

.button-text {
    background-color: #183571;
    border-left: 10px solid #173063;
    color: #fff;
    display: block;
    font: 400 20px 'Oswald', sans-serif;
    padding: 16px 20px 14px 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.button-text span {
    color: #78b53c;
    display: block;
    font-size: 1.3em;
    line-height: 31px;
}

.ion-ios-arrow-forward:after {
    font-size: 80px;
    position: absolute;
    top: 5px;
    right: 20px;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content-wrapper {
    background-color: #fff;
    color: #46494e;
    margin: 0 auto;
    max-width: 1140px;
    padding: 30px;
}

.content-wrapper:before {
    background-color: #fff;
    content: " ";
    display: block;
    height: 100%;
    margin: 0 -30px;
    max-width: 1200px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -100;
}

.content-wrapper h1,
.content-wrapper h2 {
    color: #183571;
    font: 400 24px 'Oswald', sans-serif;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.content-wrapper h3 {
    font: 400 20px 'Roboto Condensed', sans-serif;
    margin: 1em 0 0.8em 0;
}

.content-wrapper p {
    line-height: 1.5em;
    margin: 1em 0;
}

.content-wrapper a { color: #78b53c; }

.content-wrapper strong { font-weight: 400; }

.content-wrapper ul { margin: 1em 0 1em 17px; }

.content-wrapper .float-left {
    float: left;
    margin: 0 2em 1em 0;
}

.content-wrapper .float-right {
    float: right;
    margin: 0 0 1em 2em;
}

.frontpage-content {
    background-color: #f2f4f7;
    color: #4b4d51;
    margin-bottom: 30px;
    padding: 30px;
}

.frontpage-content h1,
.frontpage-content h2 {
    color: #78b53c;
    margin-bottom: 0.667em;
}

/* ==========================================================================
   VirtueMart
   ========================================================================== */

.virtuemart_search { margin: 1.5em 0; }

.vm-search-custom-search-input .inputbox {
    border: 1px solid #ddd;
    color: #46494e;
    line-height: 17px;
    padding: 7px;
}

.vm-search-custom-search-input .button {
    background-color: #153d8c;
    border: none;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    margin-left: -3px;
    padding: 8px;
}

.vm-search-custom-search-input .vm-search-descr { margin: 1em 0; }

.vm-product-descr-container-0,
.vm-product-descr-container-1,
.product-price,
.vm3pr-0 .addtocart-area { min-height: 0; }

.product-container {
    min-height: 325px;
    padding: 20px !important;
}

.category-view .row .category .spacer h2,
.product-container h2 {
    font: 400 20px 'Roboto Condensed', sans-serif;
    text-transform: none;
}

.category-view .row .category .spacer h2 a,
.product-container h2 a {
    color: #153d8c;
    text-decoration: none;
}

.product-container .product_s_desc {
    height: auto;
    text-align: center;
}

.product-container .product-price {
    float: none;
    margin: 1em 0;
    text-align: center;
}

.vm-price-desc { font-weight: 400; }

.browse-view .row .product .spacer span {
    font-size: 16px;
    color: #46494e;
}

.content-wrapper div.vm-details-button a {
    border: 1px solid #939393;
    color: #46494e;
}

.productdetails-view { padding: 0 !important; }

.productdetails-view .product-description { margin-top: 1em; }

.product-description .title {
    color: #153d8c;
    display: block;
    font: 400 20px 'Roboto Condensed', sans-serif;
    margin-bottom: 0.8em;
}

.vm-pagination {
    float: none;
    margin-top: 20px;
}

.latest-view h4,
.topten-view h4,
.featured-view h4 {
    color: #183571;
    font: 400 24px 'Oswald', sans-serif;
    text-transform: uppercase;
}

.products-view > h4 { display: none; }

/* ==========================================================================
   Footer
   ========================================================================== */

.footer-wrapper {
    background-color: #183571;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer {
    box-sizing: border-box;
    display: table;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    width: 100%;
}

.contact-info {
    display: table-cell;
    font-size: 14px;
    width: 25%;
    vertical-align: middle;
}

.contact-info h1 {
    font-size: 15px;
    font-weight: 400;
}

.contact-info p { margin-top: 5px; }

.bottom-menu {
    display: table-cell;
    width: 25%;
    vertical-align: middle;
}

.bottom-menu ul {
    list-style: none;
    text-align: right;
}

.bottom-menu a {
    color: #fff;
    text-decoration: none;
}

.bottom-logo {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

@media only screen
and (max-width : 1199px) {

    .buttons-wrapper { margin-top: 0; }

}

@media only screen
and (max-width : 1023px) {

    .main-menu .menu > li > a { font-size: 12px; }

    .button-text {
        font-size: 14px;
    }

    .ion-ios-arrow-forward:after {
        font-size: 50px;
        top: 15px;
    }

    .content-wrapper .float-left,
    .content-wrapper .float-right {
        float: none;
        margin: 1em 0;
    }

}

@media only screen
and (max-width : 767px) {

    .header { text-align: center; }

    .logo,
    .header .search-wrapper,
    .top-menu { float: none; }

    .header .search-wrapper { display: inline-block; }

    .top-menu ul { margin: 0 auto; }

    .buttons-wrapper {
        display: block;
        padding: 1px 0;
    }

    .buttons-wrapper .button {
        display: block;
        margin: 20px;
    }

    .main-menu { display: none; }

    .mobile-menu { display: block; }

    .bottom-logo,
    .bottom-menu { display: none; }

    .footer,
    .contact-info {
        display: block;
        width: auto;
    }

}
/* ==========================================================================
   User
   ========================================================================== */

.user .moduletable_menu {
    background-color: #78b53c;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 2em;
    padding: 10px;
    width: 300px;
}

.user .moduletable_menu h3,
.user .moduletable_menu a {
    color: #fff;
    display: block;
    margin: 0;
    text-decoration: none;
}

.user a:hover { background-color: rgba(255,255,255,0.15); }

.user .moduletable_menu h3 {
    margin-bottom: 5px;
    padding: 0 5px;
}

.user .moduletable_menu a { padding: 2px 5px; }

.icons ul {
    list-style: none;
    margin-left: 0;
}

.edit-icon a {
    background-color: #363636;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
}

.control-group { margin-top: 1em; }

.control-group:first-child { margin-top: 0; }

.control-label,
.controls {
    display: inline-block;
    vertical-align: middle;
}

.control-label { margin-right: 0.5em; }

.star { color: #c00; }

.user ul {
    list-style: none;
    margin: 0;
}

.user li { margin-left: 0; }

.content .actions li {
    list-style: none;
    margin-left: 0;
}

button { padding: 3px 7px; }

.content fieldset {
    background-color: #eee;
    border: 1px solid #eee;
    color: #000;
    margin-bottom: 30px;
    padding: 20px;
}

.login-fields { margin-bottom: 1em; }

.profile,
.profile-edit { margin-bottom: 1em; }

legend {
    background-color: #888;
    border: 1px solid #888;
    color: #fff;
    padding: 3px 7px;
}

dt { text-transform: uppercase; }

dd {
    color: #666;
    margin: 0.5em 0 1em 0;
}

.formelm,
.formelm-buttons,
.formelm-area { margin: 1em 0; }