<table class="vehicle bottomborder borderright">
    <tr class="heading">

        <td width="10%" class="borderright">NEW</td>
        <td width="10%" class="borderright lightgrey">
            <span ng-bind="new">
                {% if(item is defined and item is not empty and item.Status|lower=="new") %}X{% endif %}
            </span>
        </td>
        <td class="borderright">YEAR</td>
        <td class="borderright">MAKE</td>
        <td class="borderright" colspan="3">MODEL</td>
    </tr>
    <tr>

        <td class="heading borderright">USED</td>
        <td class="lightgrey borderright">
            <span ng-bind="used">
                {% if(item is defined and item is not empty and item.Status|lower=="used") %}X{% endif %}
            </span>
        </td>
        <td class="lightgrey borderright">{[{listingyear}]}</td>
        <td class="lightgrey borderright">{[{listingmake}]}</td>
        <td class="lightgrey borderright" colspan="3">{[{listingmodel}]}</td>
    </tr>
    <tr>

        <td class="heading">COLOR</td>
        <td class="lightgrey borderright" colspan="2">
            <span ng-bind="color">
                {% if(item is defined and item is not empty) %}  {{ item.exteriorColor }}{% endif %}
            </span>
        </td>
        <td class="heading borderright">VIN #</td>
        <td class="yellowcenter borderright"  colspan="3">
            <input type="text" ng-model="VIN" id="vin-autocomplete" ng-change="change('vin')" class="changeable"/>
        </td>
    </tr>
    <tr>
        <td class="heading center borderright" colspan="2" >ODOMETER READING</td>
        <td class="heading center borderright">BODY STYLE</td>
        <td class="heading center borderright">BODY DESCRIPTION</td>
        <td class="heading center borderright">ENGINE</td>
        <td class="heading center borderright">DOORS</td>
        <td class="heading center borderright">TRANSMISSION</td>
    </tr>
    <tr>
        <td class="lightgrey center borderright" colspan="2"  >{[{listingmileage}]}</td>
        <td class="lightgrey center borderright">{[{listingbodystyle}]}</td>
        <td class="lightgrey center borderright">{[{listinbodydescription}]}</td>
        <td class="lightgrey center borderright">{[{listingengine}]}</td>
        <td class="lightgrey center borderright">{[{listingdoors}]}</td>
        <td class="lightgrey center borderright">{[{listingtransmission}]}</td>
    </tr>
    <tr>
        <td class="heading borderright">TRIM</td>
        <td class="lightgrey" colspan="6">{[{listingtrim}]}</td>

    </tr>
</table>