{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}
{% block content %}

                    <div class="login-form">
                        <h2>Login</h2>
                        <form action="{{ path('login_check') }}" method="post">
                {% if error %}
                            <div>{{ error.message }}</div>
                {% endif %}
                            <div class="row">
                                <label for="username">Username:</label>                            
                                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username"/>
                            </div>
                            <div class="row">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="_password" placeholder="Password"/>
                            </div>
                            <button class="btn btn-primary" type="submit">Sign in</button>
                        </form>
                    </div>
{% endblock %}
