{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}
{% import "NumaDOASiteBundle::components.html.twig" as component %}

{#{% block banner %}#}
    {#{{ displayComponent("homepage_carousel","carousel",'page','Bridge',{"image_size":"carousel_wide", "class":"homepage_carousel"})|raw }}#}
{#{% endblock %}#}

{% block content %}

    <h1>Welcome to {{ dealer.name }}</h1>
    {{ dealer.description|raw }}
{% endblock %}