{% extends 'NumaDOASiteBundle::listing-layout.html.twig' %}
{% block content %}

    <div class="page-text">
        {{ displayComponent('page_content',"HTML")|raw }}
    </div>
    <div class="FinanceCalculatorBox row">
        <div class="CalculatePayment col-md-6 col-sm-12">
            <div class="CalculatorHeader">
                <div> Calculate Payment</div>
            </div>
            <div class="CalculatorMiddle">
                <div class="OverviewCalc">
                    Use this calculator if you know the price of your vehicle
                    <br>
                    and need to estimate the Monthly Payment.
                    <br>
                    <br>
                    Start below by entering your Desired Vehicle Price.
                </div>
                <div class="DesiredPrice">
                    <div class="InputLabel">
                        <div> *Desired Vehicle Price:</div>
                        <input id="desiredPrice" name="Desired Vehicle Price" onkeyup="javascript:PaymentCalculator();"
                               value="" type="text">
                    </div>
                </div>
                <div class="CalculatorInput">
                    <div class="InputLabel">
                        <div> Sales Tax:</div>
                        <input id="salesTax1" name="Sales Tax"
                               onblur="CalculatorPopulateField(this, '0'); AddPercentToNumeric(this); PaymentCalculator();"
                               onfocus="AddPercentToNumeric(this); CalculatorClearField(this, '0');"
                               onkeyup="javascript:PaymentCalculator();" value="6.25%" type="text">
                    </div>
                    <div class="clearall"></div>
                    <div class="InputLabel">
                        <div> *Term in Months:</div>
                        <input id="term1" name="Term in Months"
                               onblur="CalculatorPopulateField(this, '36'); PaymentCalculator();"
                               onfocus="CalculatorClearField(this, '36');" onkeyup="javascript:PaymentCalculator();"
                               value="36" type="text">
                    </div>
                    <div class="clearall"></div>
                    <div class="InputLabel">
                        <div> *Rate / APR:</div>
                        <input id="rate1" name="Rate / APR"
                               onblur="CalculatorPopulateField(this, '7'); AddPercentToNumeric(this); PaymentCalculator();"
                               onfocus="AddPercentToNumeric(this); CalculatorClearField(this, '7');"
                               onkeyup="javascript:PaymentCalculator();" value="7%" type="text">
                    </div>
                    <div class="clearall"></div>
                    <div class="InputLabel">
                        <div class="CalculatorLabel">
                            Down Payment or
                            <br>
                            Trade-In Value:
                        </div>
                        <input id="downPayment1" name="Down Payment or Trade-In Value"
                               onblur="CalculatorPopulateField(this, '0'); PaymentCalculator();"
                               onfocus="CalculatorClearField(this, '0');" onkeyup="javascript:PaymentCalculator();"
                               value="0" type="text">
                    </div>
                    <div class="clearall"></div>
                </div>
                <div class="Line"></div>
                <div class="Estimated">
                    <div> Estimated Monthly Payment:</div>
                    <div id="monthlyPayment" class="CalculatedValue">$0.00</div>
                </div>
                <div class="clearall"></div>
                <div class="Required"> * = Required</div>
            </div>
        </div>
        <div class="AffordabilityCalculator col-md-6 col-sm-12">
            <div class="CalculatorHeader">
                <div> Affordability Calculator</div>
            </div>
            <div class="CalculatorMiddle">
                <div class="OverviewCalc">
                    Use this calculator if you know the monthly payment
                    <br>
                    you can afford and need to estimate the Vehicle Price.
                    <br>
                    <br>
                    Start below by entering your Desired Monthly Payment.
                </div>
                <div class="DesiredPrice">
                    <div class="InputLabel">
                        <div> *Desired Monthly Payment:</div>
                        <input id="desiredPayment" name="Desired Monthly Payment"
                               onkeyup="javascript:AffordabilityCalculator();" value="" type="text">
                    </div>
                </div>
                <div class="CalculatorInput">
                    <div class="InputLabel">
                        <div> Sales Tax:</div>
                        <input id="salesTax2" name="Sales Tax"
                               onblur="CalculatorPopulateField(this, '0'); AddPercentToNumeric(this); AffordabilityCalculator();"
                               onfocus=" AddPercentToNumeric(this); CalculatorClearField(this, '0');"
                               onkeyup="javascript:AffordabilityCalculator();" value="6.25%" type="text">
                    </div>
                    <div class="clearall"></div>
                    <div class="InputLabel">
                        <div> *Term in Months:</div>
                        <input id="term2" name="Term in Months"
                               onblur="CalculatorPopulateField(this, '36'); AffordabilityCalculator();"
                               onfocus="CalculatorClearField(this, '36');"
                               onkeyup="javascript:AffordabilityCalculator();" value="36" type="text">
                    </div>
                    <div class="clearall"></div>
                    <div class="InputLabel">
                        <div> *Rate / APR:</div>
                        <input id="rate2" name="Rate / APR"
                               onblur="CalculatorPopulateField(this, '7'); AddPercentToNumeric(this); AffordabilityCalculator();"
                               onfocus="AddPercentToNumeric(this); CalculatorClearField(this, '7');"
                               onkeyup="javascript:AffordabilityCalculator();" value="7%" type="text">
                    </div>
                    <div class="clearall"></div>
                    <div class="InputLabel">
                        <div class="CalculatorLabel">
                            Down Payment or
                            <br>
                            Trade-In Value:
                        </div>
                        <input id="downPayment2" name="Down Payment or Trade-In Value"
                               onblur="CalculatorPopulateField(this, '0'); AffordabilityCalculator();"
                               onfocus="CalculatorClearField(this, '0');"
                               onkeyup="javascript:AffordabilityCalculator();" value="0" type="text">
                    </div>
                    <div class="clearall"></div>
                </div>
                <div class="Line"></div>
                <div class="Estimated">
                    Estimated Vehicle Price:
                    <div id="estimatedPrice" class="CalculatedValue">$0.00</div>
                </div>
            </div>
            <div class="clearall"></div>
            <div class="Required"> * = Required</div>
        </div>
    </div>
    <div class="clearfix"></div>

    {{ displayComponent('page_content_bottom',"HTML")|raw }}

    <link rel="stylesheet" href="{{ asset('css/calculator.css') }}" />
    <script type="text/javascript" src="{{ asset("js/calculator.js") }}"></script>
{% endblock %}