{# get the loged dealer #}
{% set apicall="/api/part_request/all" %}
{% if dealer is not empty %}
{% set apicall="/api/part_request/"~dealer.id~"/dealer" %}
{% endif %}
{% import 'NumaDOASiteBundle::components.html.twig' as component %}
var app = angular.module('app', ['angular-loading-bar', 'ngTouch', 'ngAnimate', 'ui.grid', 'ui.grid.moveColumns', 'ui.grid.resizeColumns', 'ui.grid.selection', 'ui.grid.expandable', 'ui.bootstrap', 'ui.grid.pinning']);


app.config(function ($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
});

app.controller('MainCtrl', ['$scope', '$http', '$log', '$timeout', 'uiGridConstants', '$q', '$uibModal', function ($scope, $http, $log, $timeout, uiGridConstants, $q, $uibModal) {
    $scope.gridOptions = {
        enableSorting: true,
        showGridFooter: true,
        enableFiltering: true,
        enableRowSelection: true,
        enableSelectAll: true,
        selectionRowHeaderWidth: 35,
        rowHeight: 50,
        enableColumnResizing: true,
    };
    $scope.gridOptions.multiSelect = true;
    $scope.gridOptions.columnDefs = [
        {
            name: 'id',
            enableColumnResizing: true,
            width: 30,
            cellTemplate: '<a href="{[{row.entity.id}]}/show">{[{row.entity.id}]}</a>',

        },
        {name: 'cust_name', displayName: 'Name', enableColumnResizing: true, width: 100},
        {name: 'cust_last_name', displayName: 'Surname', enableColumnResizing: true, width: 100},
        {
            name: 'email',
            enableColumnResizing: true,
            width: 100,
            cellTemplate: '<a href="mailto:{[{row.entity.email}]}">{[{row.entity.email}]}</a>',
        },
        {name: 'phone', enableColumnResizing: true, width: 100},
        {name: 'make', enableColumnResizing: true, width: 100},
        {name: 'model', enableColumnResizing: true, width: 100},
        {name: 'year', enableColumnResizing: true, width: 55},
        {name: 'vin', enableColumnResizing: true, width: 100},
        {name: 'part_num', enableColumnResizing: true, width: 100},
        {name: 'part_desc', enableColumnResizing: true, width: 100},
        {name: 'comment', enableColumnResizing: true, width: 100},
    ];

    $scope.items = ['item1', 'item2', 'item3'];
    $scope.selected = [];

    $scope.animationsEnabled = true;

    $scope.setDelete = function () {
        selected = $scope.selected.filter(function (element) {
            return element !== undefined;
        });
        if (selected.length > 0) {
            $http.post('{{ path("partrequest_mass_delete") }}', {'data': JSON.stringify(selected)})
                    .success(function (data) {
                        i = 1;

                        angular.forEach(selected, function (value, key) {

                            $scope.gridOptions.data.splice(key - i, 1);
                            i++;
                        });
                        $scope.selected = []
                        $scope.gridApi.selection.clearSelectedRows();
                        angular.forEach(data, function (data, index) {
                            data.index = index + 1;

                        })
                    });
        }
    }

    var canceler = $q.defer();
    $http.get('{{ apicall }}', {timeout: canceler.promise})
            .success(function (data) {
                angular.forEach(data, function (row, index) {
                    row.index = index + 1;
                })
                $scope.gridOptions.data = data;

            });

    $scope.$on('$destroy', function () {
        canceler.resolve();  // Aborts the $http request if it isn't finished.
    });

    $scope.gridOptions.onRegisterApi = function (gridApi) {
        //set gridApi on scope
        $scope.gridApi = gridApi;
        gridApi.selection.on.rowSelectionChanged($scope, function (row) {
            var msg = 'row selected ' + row.isSelected;
            if (!row.isSelected) {
                $scope.selected[row.entity.index] = undefined;
            } else {
                $scope.selected[row.entity.index] = row.entity.id;
            }
        });

        gridApi.selection.on.rowSelectionChangedBatch($scope, function (rows) {

            angular.forEach(rows, function (value, key) {
                $scope.selected[value.entity.index] = value.entity.id;
            });
            var msg = 'rows changed ' + rows.length;
        });
    };

}]);
app.controller('ModalInstanceCtrl', function ($scope, $uibModalInstance, items) {

    $scope.items = items;
    $scope.selected = {
        item: $scope.items[0]
    };

    $scope.ok = function () {
        $uibModalInstance.close($scope.selected.item);
        return true;
    };

    $scope.cancel = function () {
        $uibModalInstance.dismiss('cancel');
    };
});