{% extends 'NumaDOADMSBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <h1>Fillable PDFs Upload</h1>
    <div class="nav-tabs-custom">
        <div class="tab-content">
            <div id="details" class="tab-pane active">

                <form action="{{ path('fillable_pdf_upload') }}" method="post" class="dropzone" id="drop">

                </form>

                <div class="box box-default">
                    <div class="box-header">
                    </div>
                    <div class="box-body table-responsive no-padding" id="carousel-list">
                        {#{% include "NumaDOAAdminBundle:ImageCarousel:carousel_list.html.twig" %}#}
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        Dropzone.options.drop = {
                            maxFiles: 1,
                            init: function () {
                                this.on("queuecomplete", function (file) {
                                    //location.reload();
                                    //refresh images loists
                                    {#$.ajax(#}
                                        {#{#}
                                            {#url: '{{ path('component_carousel_refresh',{'id':entity.id}) }}',#}
                                            {#type: "POST",#}
                                            {#//data: {"component_id":{{ entity.id}},#}
                                            {#success: function (data, textStatus, jqXHR) {#}
                                                {#console.log(data);#}
                                                {#$("#carousel-list").html(data);#}
                                            {#},#}
                                            {#error: function (jqXHR, textStatus, errorThrown) {#}
                                                {#//if fails#}
                                            {#}#}
                                        {#});#}
                                });
                            }
                        };
                    });
                </script>
               
                    <a href="{{ path('dms_page') }}" class="btn btn-primary">
                        Back to the list
                    </a>

            </div>
        </div>
    </div>

{% endblock %}
