{% import "NumaDOASiteBundle::components.html.twig" as component %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include 'NumaDOASiteBundle::favicons.html.twig' %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0"/>

    <title>Dealers on Air</title>
    <meta name="description" content=" " />
    <meta name="keywords" content=" " />
    {% block stylesheets %}

        {% stylesheets '@bootstrap'  'bundles/numadoasite/SeaCH/css/template1.css'  filter='cssrewrite' output='css/*.css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        {% javascripts '@bootstrapx_js' "bundles/numadoasite/Tnt/js/mobilemenu.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
        <script language="javaScript">

            function autoResize(){
                $("#iframecontent").height($("#iframecontent").contents().height());
                $("#iframecontent").width($("#iframecontent").contents().width());
                console.log($("#iframecontent").contents().height());
                console.log($("#iframecontent").contents().width());
            };
            function iframeLoaded() {
                var iFrameID = document.getElementById('iframecontent');
                console.log("height="+iFrameID.height)
                if(iFrameID) {
                    // here you can make the height, I delete it first, then I make it again
                    iFrameID.height = "";
                    iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight + "px";
                    console.log("height="+iFrameID.height)
                }
            }

        </script>
    {% endblock %}
    {% block ga %}
        {% include "NumaDOASiteBundle::ga.html.twig" %}
    {% endblock %}
    {% include "NumaDOASiteBundle::google_tag_head.html.twig" %}
    {% block fecebook_pixel %}
        {{ include("NumaDOASiteBundle::facebookPixel.html.twig") }}
    {% endblock %}
</head>

<body>
{% block banner %}
    <div class="banner">

    </div>
{% endblock %}


<div class="content">
    <div class="welcome-content">
        <div class="alertz hide alert"></div>


        <iframe id="iframecontent" src="http://panow.local/all" frameborder="0" height="100%" scrolling="no" width="100%" onLoad="iframeLoaded()"></iframe>
        {% block content %}

        {% endblock %}

    </div>
</div>
</body>
</html>