{% import "NumaDOASiteBundle::components.html.twig" as component %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include 'NumaDOASiteBundle::favicons.html.twig' %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0"/>

    <title>Dealers on Air</title>
    <meta name="description" content=" " />
    <meta name="keywords" content=" " />
    {% block stylesheets %}
        {% stylesheets '@bootstrap' 'bundles/numadoasite/PaNow/css/style.css' 'bundles/numadoasite/PaNow/css/pgwslideshow.css'  filter='cssrewrite' output='css/*.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    {% endblock %}
    {% block javascripts %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        {% javascripts '@bootstrapx_js' '@colorbox_js' 'bundles/numadoasite/PaNow/js/pgwslideshow.js' "bundles/numadoasite/PaNow/js/mobilemenu.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endblock %}
    {% block ga %}
        {% include "NumaDOASiteBundle::ga.html.twig" %}
    {% endblock %}
    {% include "NumaDOASiteBundle::google_tag_head.html.twig" %}
    {% block fecebook_pixel %}
        {{ include("NumaDOASiteBundle::facebookPixel.html.twig") }}
    {% endblock %}
    <script>
        function resize() {

            var height = document.getElementsByTagName("html")[0].scrollHeight;


        }
            var origH = 0;
        var section1 = 0
        var section2 = 0
        var section3 = 0
        $( document ).ready(function() {

            $(".panel-heading").click(function(){


                setTimeout(function(){
                    sec1 = $("#vehicle-description");
                    sec2 = $("#vehicle-details");
                    sec3 = $("#vehicle-feature");
                    if(sec1.height()) {
                        section1 = sec1.height();
                    }else{
                        section1=0;
                    }
                    if(sec2.height()) {
                        section2 = sec2.height();
                    }else{
                        section2=0;
                    }
                    if(sec3.height()) {
                        section3 = sec3.height();
                    }else{
                        section3=0;
                    }
                    resize2();

                }, 1000);
            })

        });



        function init(){
            setTimeout(function(){
                parent.$("iframe").each(function(iel, el) {
                    if(el.contentWindow === window) {
                        h = el.height.substr(0,el.height.length-2)
                        origH = h;
                    }
                });
            }, 1000);

        }
        function resize2(){
            parent.$("iframe").each(function(iel, el) {
                if(el.contentWindow === window) {

                    //h = el.height.substr(0,el.height.length-2)
                    el.height = parseInt(origH)+parseInt(section1) + parseInt(section2) + parseInt(section3) +  "px";

                }
            });
        }



    </script>
</head>

<body onload="init())">
{% include 'NumaDOASiteBundle::share-fb.html.twig' %}
{% include 'NumaDOASiteBundle::share-twitter.html.twig' %}
<div class="content clearfix">

    {% block content %}

    {% endblock %}
</div>


</body>
</html>