{#{% extends app.request.get('_dashboard')=='DMS'#}
{#? 'NumaDOADMSBundle::layout.html.twig'#}
{#: 'NumaDOAAdminBundle::layout.html.twig' %}#}
{#{% extends is_granted('ROLE_ADMIN')#}
{#? (app.request.get('_dashboard')=='DMS'?'NumaDOADMSBundle::layout.html.twig':'NumaDOAAdminBundle::layout.html.twig')#}
{#: 'NumaDOASiteBundle::home-layout.html.twig' %}#}

{% extends is_granted('ROLE_BUSINES')
? (is_granted('ROLE_DMS_USER')?'NumaDOADMSBundle::layout.html.twig':'NumaDOASiteBundle::home-layout.html.twig')
:(app.request.get('_dashboard')=='DMS'?'NumaDOADMSBundle::layout.html.twig':'NumaDOAAdminBundle::layout.html.twig') %}

{%  set routePrefix="" %}
{% if(dashboard is defined and dashboard is not empty) %}
    {% set routePrefix=dashboard|lower~"_" %}
{% endif %}
{% block content %}
    <div class="box box-default">
        <h1>Add Listing</h1>

        <div class="hint">You can add new listings via the admin panel. Such listings will belong to the Administrator.
            When you created a listing you need to activate it. Please select the appropriate category to post a
            listing.
        </div>
        <ul class="">
            {% for entity in entities %}
                <li><a href="{{ path(routePrefix~'items_new', { 'cat_id': entity.id }) }}">{{ entity.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
