{#{% extends app.request.get('_dashboard')=='DMS'#}
{#? 'NumaDOADMSBundle::layout.html.twig'#}
{#: 'NumaDOAAdminBundle::layout.html.twig' %}#}
{#{% extends is_granted('ROLE_ADMIN')#}
{#? (app.request.get('_dashboard')=='DMS'?'NumaDOADMSBundle::layout.html.twig':'NumaDOAAdminBundle::layout.html.twig')#}
{#: 'NumaDOASiteBundle::home-layout.html.twig' %}#}

{% extends is_granted('ROLE_BUSINES')
? (is_granted('ROLE_DMS_USER')?'NumaDOADMSBundle::layout.html.twig':'NumaDOASiteBundle::home-layout.html.twig')
:(app.request.get('_dashboard')=='DMS'?'NumaDOADMSBundle::layout.html.twig':'NumaDOAAdminBundle::layout.html.twig') %}

{% set routePrefix="" %}
{% if(dashboard is defined and dashboard is not empty) %}
    {% set routePrefix=dashboard|lower~"_" %}
{% endif %}
{% block content %}
    <div class="box box-default">
        <h1>Add Listing</h1>

        <div class="hint">You can add new listings via the admin panel. Such listings will belong to the Administrator.
            When you created a listing you need to activate it. Please select the appropriate category to post a
            listing.
        </div>
        <ul id="myTab" class="nav nav-tabs">

            {% for entity in entities %}

                <li><a href="{{ path(routePrefix~'items_new', { 'cat_id': entity.id }) }}">
                        {% if(entity.name =="Car") %}
                        <span class="icon_tab icon_Vehicle"></span>
                    {% elseif(entity.name =="Marine") %}
                        <span class="icon_tab icon_Marine"></span>
                    {% elseif(entity.name =="Motorsport") %}
                        <span class="icon_tab icon_Motorsport"></span>
                    {% elseif(entity.name =="RVs") %}
                        <span class="icon_tab icon_RVs"></span>
                    {% elseif(entity.name =="Ag") %}
                        <span class="icon_tab icon_Ag"></span>
                        {% endif %}<span class="tab_text">{{ entity.name }}</span></a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
