{% if "http://" not in image.image.stringvalue %}
    <a href="{{path('items_edit',{'id':id})}}"><img  src="{{image.image.stringvalue|imagine_filter('search_image')}}" alt="image" /></a>                              
{% else %}
    <a href="{{path('items_edit',{'id':id})}}"><img  src="{{image.image.stringvalue}}" alt="image" width="120px"/></a>                              
{%endif %}                                      