{% for country in countries %}
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><span class="value">{{country}}</span></strong>
</div>
{%endfor%}
<div class="clear"></div>