homepage:
    path:  /
    defaults: { _controller: NumaDOASiteBundle:Default:index }
robots:
    path:  /robots.txt
    defaults: { _controller: NumaDOASiteBundle:Util:robots }
sandbox:
    path:  /sandbox
    defaults: { _controller: NumaDOASiteBundle:Sandbox:index }
search_by_category:
    path:  /browse_by_category_{category}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
search_by_category_make:
    path:  /browse_by_{category}/make/{make_string}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
search_by_make:
    path:  /browse_by_make/{make_string}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
search_by_year:
    path:  /browse_by_year/{year}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
search_featured:
    path:  /featured
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en,featured: 1 }
search_featured2:
    path:  /specials
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en,featured: 1 }
search_by_truck_van_type:
    path:  /browse_by_truck_van_type/{truckVanTypeWildcard}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
search_by_body_style:
    path:  /browse_by_body_style_{category}/{categorySubType}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
search_only_by_body_style:
    path:  /browse_by_body_style/{categorySubType}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
search_by_boat_type:
    path:  /browse_by_boat_type_{category}/{categorySubType}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
search_by_rvs_class_type:
    path:  /browse_by_{category}_class/{categorySubTypeWildcard}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
search_by_ag_type:
    path:  /browse_by_type_{category}/{categorySubType}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }

search_by_rvs_type:
    path:  /browse_by_{category}/{categorySubType}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }

search_by_type:
    path:  /browse_by_type_{category}/{categorySubType}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
browse_by_dealer:
    path:  /browse_by_dealer/{dealer_id}/{dealername}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
browse_by_dealer2:
    path:  /browse_by_dealer/{dealer_id}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
search_new_vehicle:
    path:  /browse_new
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en,status:N }
search_used_vehicle:
    path:  /browse_used
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en,status:U }
search_all:
    path:  /all
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
search_under_price:
    path:  /under_{priceTo}
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }
search_ajax:
    path:  /searchajax
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:searchAjax, _locale: en,status:U }
homepage_categories:
    path:  /categories
    defaults: { _controller: NumaDOASiteBundle:Default:categories }
homepage_category:
    path:  /category/{idcategory}/{category_name}
    defaults: { _controller: NumaDOASiteBundle:Default:category }
homepage_catalog:
    path:  /catalog/{idcatalog}/{catalog_name}
    defaults: { _controller: NumaDOASiteBundle:Default:catalog }
#user registration
buyer_register:
    path:     /user/register
    defaults: { _controller: NumaDOASiteBundle:User:register }
profile:
    pattern:  /user/profile
    defaults: { _controller: NumaDOASiteBundle:User:profile, _locale: en } 
register_success:
    path:     /user/register-success
    defaults: { _controller: NumaDOASiteBundle:User:registerSuccess }
buyer_create:
    path:     /user/create
    defaults: { _controller: NumaDOASiteBundle:User:create }
buyer_update:
    path:     /user/update
    defaults: { _controller: NumaDOASiteBundle:User:update }
buyer_login:
    path:     /user/login
    defaults: { _controller: NumaDOASiteBundle:User:login }
login_dealer:
    path:     /user/logindealer/{username}
    defaults: { _controller: NumaDOASiteBundle:User:logindDealer }
lostpassword:
    path:     /user/lostpassw
    defaults: { _controller: NumaDOASiteBundle:User:lostpass }
buyer_saved_ads:
    path:     /user/savedads
    defaults: { _controller: NumaDOASiteBundle:User:showSaveAds }    
buyer_saved_searches:
    path:     /user/savedsearches
    defaults: { _controller: NumaDOASiteBundle:User:savedSearches } 
buyer_delete_search:
    path:     /user/delete-search
    defaults: { _controller: NumaDOASiteBundle:User:deleteSearch } 
item_savead:
    path:     /item/save
    defaults: { _controller: NumaDOASiteBundle:Item:savead }  
item_compare:
    path:     /item/compare
    defaults: { _controller: NumaDOASiteBundle:Item:compare }
item_qrcode:
    path:     /item/qrcode
    defaults: { _controller: NumaDOASiteBundle:Item:qrcode }
item_eprice:
    path:     /item/{itemid}/eprice
    defaults: { _controller: NumaDOASiteBundle:Item:eprice }
item_finance:
    path:     /item/{itemid}/finance
    defaults: { _controller: NumaDOASiteBundle:Item:finance }
item_details:
    path:     /details/{itemId}/{description}
    defaults: { _controller: NumaDOASiteBundle:Item:details }  
item_print_details:
    path:     /printdetails/{itemId}
    defaults: { _controller: NumaDOASiteBundle:Item:details } 
search_sellers:
    path:     /seller/search
    defaults: { _controller: NumaDOASiteBundle:Default:searchSeller } 

search_dispatch:
    pattern:  /search
    defaults: { _controller: NumaDOASiteBundle:ElasticSearch:search, _locale: en }

#search:
#    pattern:  /search-result/{text}
#    defaults: { _controller: NumaDOASiteBundle:Search:search, _locale: en }
#search:
#    pattern:  /search-result/
#    defaults: { _controller: NumaDOASiteBundle:Search:search, _locale: en }
search_advanced:
    pattern:  /search-advanced
    defaults: { _controller: NumaDOASiteBundle:Search:searchAdvanced, _locale: en } 
search_advanced_category:
    pattern:  /search-advanced-{category}
    defaults: { _controller: NumaDOASiteBundle:Search:searchAdvancedCategory, _locale: en } 
search_save:    
    pattern:  /search/save
    defaults: { _controller: NumaDOASiteBundle:Search:saveSearch, _locale: en } 
compared_listings:    
    pattern:  /compared-listing
    defaults: { _controller: NumaDOASiteBundle:Item:comparedListing, _locale: en }
dealer_coupons:
    path:  /dealer/{dealername}/coupons
    defaults: { _controller: NumaDOASiteBundle:Seller:coupons, _locale: en }
dealer_coupons_dms:
    path:  /coupons
    defaults: { _controller: NumaDOASiteBundle:Seller:coupons, _locale: en }
sandbox_test3:
    path:  /sandbox/test3
    defaults: { _controller: NumaDOASiteBundle:Sandbox:test3 }
sandbox_test:
    path:  /sandbox/test
    defaults: { _controller: NumaDOASiteBundle:Sandbox:test }
sandbox_test2:
    path:  /sandbox/test2
    defaults: { _controller: NumaDOASiteBundle:Sandbox:test2 }
sandbox_es:
    path:  /sandbox/elastic
    defaults: { _controller: NumaDOASiteBundle:Sandbox:elastic }


ads_page:
    path:  /ads/{id}
    defaults: { _controller: NumaDOASiteBundle:Ads:index }

ad_increase_click:
    path:     /ads/{id}/click
    defaults: { _controller: "NumaDOAModuleBundle:Ad:clickAjax" }

statistics:
    path:     /stats
    defaults: { _controller: "NumaDOASiteBundle:Default:statistics" }
part_form:
    path:     /parts
    defaults: { _controller: "NumaDOASiteBundle:Parts:part" }
part_success:
    path:  /partSuccess
    defaults: { _controller: "NumaDOASiteBundle:Parts:success" }
service_form:
    path:     /service
    defaults: { _controller: "NumaDOASiteBundle:Service:service" }
service_success:
    path:  /serviceSuccess
    defaults: { _controller: "NumaDOASiteBundle:Service:success" }
finance_form:
    path:     /finance
    defaults: { _controller: "NumaDOASiteBundle:Finance:new" }
finance_short_form:
    path:     /finance_short
    defaults: { _controller: "NumaDOASiteBundle:Finance:newShort" }
finance_success:
    path:  /financeSuccess
    defaults: { _controller: "NumaDOASiteBundle:Finance:success" }
finance_service_form:
    path:     /finance_service
    defaults: { _controller: "NumaDOASiteBundle:FinanceService:new" }
finance_service_success:
    path:  /finance_serviceSuccess
    defaults: { _controller: "NumaDOASiteBundle:FinanceService:success" }
leasing_form:
    path:     /leasing
    defaults: { _controller: "NumaDOASiteBundle:Leasing:new" }
leasing_success:
    path:  /leasingSuccess
    defaults: { _controller: "NumaDOASiteBundle:Leasing:success" }
testDrive_form:
    path:     /test_drive
    defaults: { _controller: "NumaDOASiteBundle:TestDrive:testDrive" }
testDrive_success:
    path:  /test_driveSuccess
    defaults: { _controller: "NumaDOASiteBundle:TestDrive:success" }
tradeIn_form:
    path:     /trade_in
    defaults: { _controller: "NumaDOASiteBundle:TradeIn:tradeIn" }
tradeIn_success:
    path:  /trade_inSuccess
    defaults: { _controller: "NumaDOASiteBundle:TradeIn:success" }
getAQuote_form:
    path:     /get_a_quote
    defaults: { _controller: "NumaDOASiteBundle:GetAQuote:getAQuote" }
getAQuote_success:
    path:  /get_a_quoteSuccess
    defaults: { _controller: "NumaDOASiteBundle:GetAQuote:success" }
calculator:
    path:     /calculator
    defaults: { _controller: "NumaDOASiteBundle:Calculator:index" }
shoppingExpress_form:
    path:     /shopping_express
    defaults: { _controller: "NumaDOASiteBundle:ShoppingExpress:shoppingExpress" }
shoppingExpress_success:
    path:  /shopping_expressSuccess
    defaults: { _controller: "NumaDOASiteBundle:ShoppingExpress:success" }
about_us:
    path:     /about_us
    defaults: { _controller: "NumaDOASiteBundle:Default:aboutus" }
contactus:
    path:     /contactus
    defaults: { _controller: "NumaDOASiteBundle:Default:contactUs" }
contactus_success:
    path:     /contactus_success
    defaults: { _controller: "NumaDOASiteBundle:Default:contactSuccess" }
newsletter:
    path:     /newsletter
    defaults: { _controller: "NumaDOASiteBundle:Default:newsletter" }
newsletter_success:
    path:     /newsletter_success
    defaults: { _controller: "NumaDOASiteBundle:Default:newsletterSuccess" }
news:
    path:     /news
    defaults: { _controller: "NumaDOASiteBundle:Default:news" }
site_inventory:
    path:     /manage_inventory
    defaults: { _controller: "NumaDOASiteBundle:Item:manage" }
external_file:
    path:     /{filename}.html
    defaults: { _controller: "NumaDOASiteBundle:External:file" }